@media (min-width: 2200px) {
    .contacts__map {
        max-width: 65%;
    }

}

@media (max-width: 1700px) {

    .container {
        max-width: 1410px;
    }
    
    .container-big {
        max-width: 1479px;
    }

    .header__search-wrap .container {
        max-width: 1410px;
    }

    .header__menu-wrap .container {
        max-width: 1410px;
    }

    .header__menu-list a {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 37px;
    }

    .header__menu-dropdown a {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .header__menu-list {
        justify-content: space-between;
    }

    .catalog-main__title {
        font-size: 30px;
        line-height: 28px;
    }

    .catalog-main__list a {
        font-size: 15px;
    }

    .catalog-main__big .catalog-main__title {
        padding-bottom: 25px;
    }

    .catalog-main__title {
        padding-bottom: 25px;
    }

    .catalog-main__list li {
        margin-bottom: 16px;
    }

    .catalog-main__big {
        min-height: 729px;
    }

    .catalog-main {
        padding-top: 64px;
    }

    .catalog-main__small {
        min-height: 355px;
    }

    .catalog-main__small-content {
        padding: 30px 37px;
        padding-right: 28px;
        width: calc(50% - 11px);
    }

    .catalog-main__smalls {
        max-width: 678px;
    }

    .catalog-main__big {
        max-width: 680px;
    }

    .header__menu-list li {
        margin-right: 0;
    }

    .header__main-panel {
        max-width: 437px;
    }

    .header__info-content {
        max-width: 375px;
    }

    .catalog-main__small-bg {
        margin-right: 23px;
        width: calc(50% - 11px);
    }

    .catalog-main__small:nth-child(even) .catalog-main__small-bg {
        margin-left: 23px;
    }

    .about-main {
        padding-top: 43px;
    }

    .benefits {
        padding-bottom: 43px;
    }

    .about-main__item {
        max-width: 436px;
    }

    .about-main__title {
        font-size: 24px;
        line-height: 28px;
    }

    .about-main__content-title {
        padding-left: 31px;
        padding-right: 31px;
    }

    .about-main__item-text {
        margin-left: 52px;
    }

    .about-main__content-title::before {
        left: 51px;
    }

    .about-main__content {
        min-height: 170px;
    }

    .partners-read__slider-img {
        max-width: 486px;
        height: 306px;

        img {
            max-width: 176px;
            max-height: 176px;
        }
    }

    .partners-read__slider-counter {
        top: 17px;
        right: 19px;
    }

    .partners-reads .container {
        max-width: 1310px;
    }

    .partners-reads__reads {
        max-width: 790px;
    }

    .partners-reads__partners {
        margin-left: 0;
    }

    .footer__form-title {
        padding-left: 90px;
        padding-right: 78px;
    }

    .footer__form-content p {
        padding-left: 90px;
        padding-right: 78px;
    }

    .footer__field {
        padding-left: 82px;
        padding-right: 72px;
    }

    .footer__checkbox {
        padding-left: 90px;
        padding-right: 78px;
    }

    .footer__field--textarea {
        padding: 0;
    }

    .footer__main-content {
        max-width: 878px;
    }

    .popup__title {
        font-size: 28px;
        line-height: 30px;
    }

    .popup-city .popup__title {
        padding-bottom: 35px;
    }

    .popup-city {
        padding-top: 70px;
        padding-bottom: 40px;
    }

    .popup-city__list {
        padding-top: 40px;
    }

    .popup-city__field input {
        height: 60px;
    }

    .popup-thanks {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .popup-thanks {
        max-width: 590px;
    }

    .catalog-main__big {
        margin-right: 23px;
    }

    .catalog-main__small {
        margin-bottom: 23px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .catalog-main__big {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 39px;
        padding-bottom: 39px;
    }

    .header__menu {
        padding-top: 99px;
    }

    .about-main__content-title::before {
        height: 50px;
    }

    .articles__item-wrap {

        &:nth-child(5) .articles__item {
            padding-bottom: 50px;
        }
    }

    .article__item-title {
        font-size: 20px;
        line-height: 26px;
    }

    .articles__item {
        padding-top: 27px;
        padding-left: 28px;
        padding-right: 28px;
        padding-bottom: 76px;
    }

    .items-list__wrap {
        padding-left: 10px;
        padding-right: 10px;
    }

    .items-list__content {
        margin-right: -10px;
    }

    .about-us__item__wrap {
        width: 45%;
    }

    .dealers__item-wrap-col {
        max-width: 1000px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }
    

    .dealers__item-row {
        align-items: flex-start;
    }

    .dealers__item-sites {
        width: 100%;
        min-width: 620px;
        max-width: 620px;
        padding-right: 5px;
        width: 100%;
        margin-left: auto;
        margin-top: 10px;
    }
    
    .requisites__list {
        max-width: 815px;
    }

    .order-goods__content-main {
        padding-left: 30px;
        padding-right: 30px;
    }

    .order-goods__geos {
        margin-left: -30px;
        margin-right: -30px;
    }

    .order-goods__geos {
        padding-left: 30px;
        padding-right: 30px;
    }

    .order-goods__item-title-col {
        max-width: 380px;
        min-width: 380px;
    }

    .order-goods__tab-item {
        padding-left: 0;
    }

    .order-goods__item-header {
        padding-right: 59px;
    }

    .order-goods__tab-sites {
        min-width: 193px;
        max-width: 193px;
    }

    .order-goods__benefits-item-wrap {
        padding-left: 20px;
        padding-right: 20px;
    }

    .order-goods__benefits-list {
        margin-left: -20px;
        margin-right: -20px;
    }

    .order-goods__map {
        max-width: 620px;
    }

    .order-goods__benefits-img {
        margin-right: 15px;
    }

    .contacts__map {
        height: 785px;
    }

    .contacts__wrap {
        min-height: 785px;
    }

    #map-contacts {
        height: 785px;
    }
    
    .catalog__item-content {
        max-width: 600px;
        margin-left: 80px;
    }

    .catalog__item-img {
        max-width: 700px;
        height: 700px;
    }

    .catalog__item-title::before {
        left: -80px;
        width: 40px;
    }

    .catalog__item-title::after {
        left: -102px;
    }

    .catalog__filter-field {
        margin-right: 39px;
    }

    .catalog__item-img img {
        max-width: 320px;
    }

    .card__content {
        margin-left: 80px;
    }

    .card__main-info::before {
        left: -80px;
    }

    .card__documents::before {
        left: -80px;
    }

    .card__img-list {
        //max-width: 600px;
    }
    .card-slider-wrap {
        max-width: 600px;
    }

    .card__img {
        max-width: 600px;
        height: 600px;
    }

    .card__content {
        max-width: 720px;
    }

    .card__img img {
        max-width: 320px;
        max-height: 320px;
    }

    .items-list-wrap--min-spacing {
        padding-bottom: 70px;
    }

    .catalog__table-row td:first-child::before {
        width: 80px;
        left: -80px;
    }
}

@media (max-width: 1500px) {
    .catalog-main__title {
        font-size: 28px;
    }

    .catalog-main__small-content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer__field {
        padding-left: 30px;
        padding-right: 30px;
    }

    .footer__form-title {
        padding-left: 30px;
        padding-right: 30px;
    }

    .footer__form-content p {
        padding-left: 30px;
        padding-right: 30px;
    }

    .footer__checkbox {
        padding-left: 30px;
        padding-right: 30px;
    }

    .footer__field--textarea {
        padding: 0;
    }

    .footer__form-content {
        max-width: 380px;
        padding-top: 30px;
    }

    // .articles__item-img {
    //     width: 60%;
    //     margin: 0 auto;
    // }

    .items-list__item {
        padding-left: 22px;
        padding-top: 15px;
        padding-bottom: 14px;
        padding-right: 22px;
    }

    .items-list__item--article {
        padding-bottom: 55px;
    }

    .certificate__item-wrap {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 30px;
    }

    .certificate__list {
        margin-left: -15px;
        margin-right: -15px;
    }

    .certificate__item-title {
        padding-left: 25px;
        padding-right: 25px;
    }

    .certificate__item {
        padding-top: 25px;
    }
}

@media (max-width: 1400px) {
    .header__search-menu {
        padding-bottom: 180px;
    }

    .about-main__item {
        max-width: 32%;
        width: 100%;
    }

    .about-main__content-title {
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer__form-content {
        margin-right: 40px;
    }

    .items-list__description {
        left: 40px;
    }

    .items-list__wrap {
        padding-left: 5px;
        padding-right: 5px;
    }

    .items-list__content {
        margin-right: -5px;
        padding-left: 45px;
    }

    .items-list--articles .items-list__img {
        max-width: 190px;
        max-height: 190px;
    }

    .items-list__img {
        max-width: 150px;
        max-height: 150px;
    }

    .items-list {
        padding-bottom: 70px;
    }

    .items-list-wrap {
        padding-bottom: 150px;
    }

    .about-us__info p {
        font-size: 20px;
        line-height: 34px;
    }

    .about-us__bg {
        height: 950px;
    }

    .about-us__sub-content {
        padding-top: 100px;
    }

    .about-us__benefit {
        font-size: 36px;
        line-height: 42px;
    }

    .partners-main {
        background-position: 60% 100%;
    }

    .items-list-wrap--min-spacing {
        padding-bottom: 70px;
    }

    .placeholder {
        background-color: rgba(255,255,255,0.5);
        padding: 6px;
        left: 14px;
        top: 24px;
    }
}

@media (max-width: 1260px) {
    .burger-content__text {
        font-size: 13px;
    }

    .header__item span {
        font-size: 13px;
    }

    .header__tel-img {
        margin-right: 10px;
    }

    .header__main-panel {
        max-width: 329px;
    }

    .header__search-content span {
        display: none;
    }

    .header__logo-desktop {
        display: none;
    }

    .header__logo-mobile {
       display: block;
    }

    .header__logo {
        max-width: 120px;
        margin-left: 0;
    }

    .header__info-content {
        max-width: 332px;
    }

    .container {
        max-width: 950px;
    }

    .header__menu-wrap .container {
        max-width: 924px;
    }

    .header__menu-list {
        flex-wrap: wrap;
    }

    .header__menu-list li.header__menu-item {
        margin-right: 100px;

        &:nth-child(4) {
            order: 1;
        }

        &:nth-child(5) {
            order: 2;
        }

        &:nth-child(6) {
            order: 3;
        }

        &:nth-child(7) {
            order: 4;
        }

        &:nth-child(8) {
            order: 5;
            margin-right: 0;
        }

        &:nth-child(1) {
            order: 6;
            margin-right: 0;
        }

        &:nth-child(2) {
            order: 7;
            margin-right: 0;
        }

        &:nth-child(3) {
            order: 8;
            margin-right: 0;
        }
    }

    .header {
        padding-bottom: 44px;
    }

    .header__menu {
        padding-bottom: 54px;
        padding-top: 33px;
    }

    .header__bottom {
        padding-top: 45px;
    }

    .header__search-menu {
        padding-bottom: 100px;
    }

    .catalog-main .container {
        position: relative;
        align-items: flex-start;
    }

    .catalog-main__smalls {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .catalog-main__big {
        max-width: 606px;
        min-height: 652px;
        margin-right: 20px;
        padding-left: 25px;
        padding-top: 30px;
    }

    .catalog-main__small {
        flex-direction: column;
    }

    .catalog-main__small-bg {
        min-height: 315px;
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .catalog-main__small-content {
        width: 100%;
        padding-top: 19px;
        padding-bottom: 19px;
    }

    .catalog-main__smalls {
        max-width: 294px;
    }

    .catalog-main__small:last-of-type {
        flex-direction: row;
        position: absolute;
        bottom: -311px;
        right: 15px;
        max-width: 608px;
        min-height: 315px;

        .catalog-main__small-content {
            width: calc(50% - 10px);
        }
    }

    .benefits__title {
        display: none;
    }

    .catalog-main {
        padding-bottom: 175px;
        padding-top: 29px;
    }

    .benefits {
        padding-top: 175px;
    }

    .catalog-main__small:nth-child(even) .catalog-main__small-bg {
        margin-bottom: 0;
        margin-left: 20px;
        width: calc(50% - 10px);
    }

    .benefits__list {
        padding-top: 42px;
    }

    .benefits .container {
        max-width: 950px;
    }

    .benefits__item {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        max-width: 296px;
    }

    .benefits__item-img {
        min-height: 0;
        margin-right: 25px;
    }

    .benefits__item p {
        max-width: 175px;
        width: 100%;
        padding-top: 20px;
    }

    .about-main__item-text {
        margin-left: 0;
        max-width: 246px;
    }

    .about-main__content {
        flex-direction: column-reverse;
    }

    .about-main__content-img {
        height: 200px;
        width: 100%;
    }

    .about-main__item {
        max-width: 258px;
    }

    .about-main__content-title {
        width: 100%;
        height: 144px;
        padding-left: 28px;
        padding-right: 40px;
    }

    .about-main .container {
        max-width: 912px;
    }

    .partners-reads__reads {
        max-width: 550px;
    }

    .partners-reads .container {
        max-width: 912px;
    }

    .partners-reads__partners {
        max-width: 302px;
    }

    .partners-read__slider-img {
        margin-right: 30px;
        overflow: hidden;
        height: 279px;

        img {
            max-width: 134px;
            max-height: 134px;
        }
    }

    .partners-reads__partners-title br {
        display: none;
    }

    .footer__form-content {
        display: none;
    }

    .partners-read__slider-counter {
        top: 13px;
        right: 15px;
    }

    .about-main__item-text::before {
        left: 51px;
    }

    .header__geo-img {
        margin-right: 7px;
    }

    .header__logo {
        margin-left: -10px;
    }

    .header__search-img {
        margin-right: 0;
    }

    .footer__main-content {
        max-width: none;
    }

    .partners-reads {
        padding-bottom: 100px;
        padding-top: 47px;
    }

    .about-main {
        padding-bottom: 47px;
    }

    .articles__item-wrap {
        flex: 0 0 50%;
        max-width: 50%;
        padding-left: 28px;
        padding-right: 28px;
        margin-bottom: 56px;
    }

    .articles__list {
        margin-left: -28px;
        margin-right: -28px;
    }

    .container-small {
        max-width: 930px;
    }

    .articles__item {
        min-height: 420px;
    }

    .articles__item-img {
        max-width: 170px;
        max-height: 190px;
    }

    .articles__item-wrap {
        &:nth-child(1) {
            order: 1;
        }

        &:nth-child(2) {
            order: 2;
        }

        &:nth-child(3) {
            order: 3;
        }

        &:nth-child(4) {
            order: 5;
        }

        &:nth-child(5) {
            order: 4;
        }

        &:nth-child(6) {
            order: 6;
        }

        &:nth-child(7) {
            order: 7;
        }

        &:nth-child(8) {
            order: 8;
        }

        &:nth-child(9) {
            order: 9;
        }
    }

    .breadcrumbs {
        padding-bottom: 71px;
    }

    .articles__list {
        padding-top: 30px;
    }

    .articles {
        padding-bottom: 20px;
    }

    .items-list__wrap {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
        padding-left: 3px;
        padding-right: 3px;

        &:nth-child(4) {
            display: none;
        }
    }

    .items-list__content {
        margin-right: -3px;
        padding-left: 56px;
    }

    .items-list__description {
        left: 45px;
    }

    .items-list {
        padding-bottom: 50px;
    } 

    .items-list-wrap {
        padding-bottom: 70px;
    }

    .items-list--articles .items-list__img {
        max-width: 180px;
        max-height: 180px;
    }

    .items-list__img {
        max-width: 140px;
        max-height: 140px;
    }

    .items-list__item {
        min-height: 279px;
    }

    .items-list__item--article {
        padding-bottom: 28px;
    }

    .items-list__description {
        height: 279px;
    }

    .items-list__description-line {
        width: 279px;
    }

    .items-list__item--article {
        min-height: 340px;
    }

    .items-list--articles {

        .items-list__description {
            height: 340px;
        }

        .items-list__description-line {
            width: 340px;
        }

    }

    .article-single .container {
        max-width: 950px;
    }

    .certificate__item-wrap {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .certificate {
        padding-bottom: 50px;
    }

    .certificate__list {
        padding-top: 30px;
    }

    .about-us__info p {
        font-size: 18px;
        line-height: 32px;
        padding-bottom: 30px;
    }

    .about-us__info {
        padding-top: 30px;
        padding-bottom: 95px;
    }

    .about-us__bg {
        height: 815px;
    }

    .about-us__sub-content {
        padding-top: 80px;
    }

    .about-us__item__wrap {
        margin-bottom: 70px;
    }

    .about-us__distribution {
        padding-bottom: 62px;
    }

    .about-us__benefit {
        font-size: 32px;
        line-height: 40px;
    }

    .about-us {
        padding-bottom: 80px;
    }

    .about-us__item p {
        line-height: 28px;
    }

    .dealers__item-wrap-col {
        max-width: 620px;
    }

    .dealers__item-row {
        padding-right: 20px;
    }

    .dealers__item-city {
        padding-top: 11px;
    }

    .dealers__item-address {
        min-width: 0;
    }

    .dealers__item-sites {
        min-width: 0;
    }

    .dealers__item-firm {
        min-width: 0;
        max-width: none;
    }

    .dealers {
        padding-bottom: 0px;
    }

    .dealers__list {
        padding-top: 30px;
    }

    .dealers__item-row {
        padding-top: 18px;
        padding-bottom: 18px;
    }
    
    .requisites__list {
        max-width: 575px;
    }

    .requisites {
        padding-bottom: 80px;
    }

    .orders__field {
        max-width: 473px;
    }

    .orders__field input {
        max-width: 473px;
    }

    .orders__field .selectize-control {
        max-width: 473px;
    }

    .partners-main {
        padding-bottom: 80px;
    }

    .partners-main {
        background-position: center;
    }

    .order-goods__content {
        position: relative;
    }

    .order-goods__map {
        z-index: 1;
        position: absolute;
        height: 560px;
        max-width: none;
        top: 379px;
    }

    #map {
        height: 560px;
    }

    .order-goods__content-main {
        position: relative;
        padding-left: 0;
        padding-right: 0;
        max-width: none;
        z-index: 2;
    }

    .order-goods__goods {
        max-width: none;
    }

    .order-goods__goods-info {
        max-width: none;
    }

    .order-goods__goods-title span {
        display: inline-block;
    }

    .order-goods__goods-img {
        margin-right: 73px;
    }

    .order-goods__goods-img {
        max-width: 157px;
        min-width: 157px;
    }

    .order-goods__geos-wrap {
        max-width: none;
    }

    .order-goods__geos {
        margin-left: 0;
        margin-right: 0;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 560px;
    }

    .order-goods__select {
        max-width: 410px;
    }

    .order-goods__tab-list {
        max-width: none;
    }

    .order-goods__item-title-col {
        max-width: 600px;
        min-width: 600px;
    }

    .order-goods__item-header {
        padding-right: 90px;
    }

    .order-goods__tab-sites {
        max-width: 226px;
        min-width: 226px;
    }

    .order-goods__benefits-item-wrap {
        padding-right: 80px;
        padding-left: 80px;
    }

    .order-goods__benefits-list {
        margin-left: -80px;
        margin-right: -80px;
        padding-top: 51px;
    }

    .order-goods {
        padding-bottom: 8px;
    }

    .order-goods__tab-row {
        padding-top: 3px;
    }

    .order-goods__tab-item:last-child {
        border-bottom: none;
    }

    .orders__field textarea {
        max-width: 473px;
    }

    .contacts__content {
        margin-right: 85px;
    }

    .contacts__map {
        max-width: 49%;
    }

    .catalog__item-img {
        max-width: 451px;
        height: 451px;

        img {
            max-width: 215px;
        }
    }

    .catalog__goods-text {
        font-size: 16px;
        line-height: 26px;
    }

    .catalog__item-goods-price {
        flex-direction: column;
        align-items: flex-start;
    }

    .catalog__mod {
        line-height: 37px;
    }

    .catalog__item-goods-price {
        padding-top: 16px;
    }

    .catalog__item-price-note {
        padding-top: 10px;
    }

    .catalog__item-mod-btn {
        margin-top: 21px;
    }

    .catalog__item {
        margin-bottom: 60px;
    }

    .catalog__filter-field {
        margin-right: 0;
    }

    .catalog__filter {
        justify-content: space-between;
    }

    .catalog__filter-title {
        font-size: 12px;
        margin-right: 10px;
    }

    .catalog__filter-select {
        min-width: 182px;
        max-width: 182px;
    }

    .catalog__filter-field .selectize-input {
        padding-left: 10px;
        padding-right: 33px;
    }

    .catalog__filter-field .selectize-dropdown .option {
        font-family: 'PT Sans', sans-serif;
        font-size: 16px;
        padding-bottom: 14px;
        padding-left: 10px;
        padding-right: 10px;
        cursor: pointer;
        transition: all .3s;
    }

    .catalog__filter-field .selectize-control.single .selectize-input:after {
        right: 7px;
    }

    .catalog__links {
        padding-bottom: 20px;
    }

    .catalog__item {
        align-items: flex-start;
    }

    .catalog__item-title::before {
        width: 30px;
        left: -60px;
    }

    .catalog__item-title::after {
        left: -82px;
    }

    .catalog {
        padding-bottom: 20px;
    }

    .benefits-inner {
        padding-left: 200px;
        padding-top: 0px;
        padding-bottom: 80px;

        .benefits__item {
            flex-direction: column;
        }

        .benefits__title {
            display: block;
        }

        .benefits__item p {
            max-width: 182px;
            padding-top: 0;
        }

        .benefits__list {
            padding-top: 65px;
        }
    }

    .catalog__item-content {
        margin-left: 60px;
    }
    
    .card-slider-wrap {
        max-width: 452px;
    }

    .card__img {
        max-width: 452px;
        height: 452px;
    }

    .card__img img {
        max-width: 213px;
        max-height: 242px;
    }

    .card__content {
        margin-left: 50px;
        max-width: 398px;
    }

    .catalog__table-content {
        overflow: scroll;
        margin-left: -50px;
        padding-left: 50px;
    }

    .card {
        overflow: hidden;
    }

    .catalog__table {
        width: 700px;
        overflow: scroll;
    }

    .catalog__item-title::before {
        left: -50px;
    }

    .card__main-info::before {
        width: 51px;
        left: -50px;
    }

    .card__documents::before {
        width: 51px;
        left: -50px;
    }

    .card .document-list__item {
        margin-right: 45px;

        &:last-child {
            margin-right: 0;
        }
    }

    .card {
        padding-bottom: 100px;
    }
    
    .catalog__table-container {
        margin-right: -50px;
    }

}