@media (max-width: 960px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .header__menu-list li.header__menu-item {
        margin-right: 0px;

        &:nth-child(4) {
            order: 4;
        }

        &:nth-child(5) {
            order: 5;
        }

        &:nth-child(6) {
            order: 6;
        }

        &:nth-child(7) {
            order: 7;
        }

        &:nth-child(8) {
            order: 8;
        }

        &:nth-child(1) {
            order: 1;
        }

        &:nth-child(2) {
            order: 2;
        }

        &:nth-child(3) {
            order: 3;
        }
    }

    .header__menu-list {
        flex-direction: column;
    }

    .header__menu-wrap.active {
        max-height: none;
    }

    .header__menu-list li {
        max-width: none;
    }

    .header__menu-item a {
        display: block;
        padding-left: 33px;
        padding-right: 27px;
    }

    .header__menu-item a.header__menu-item-link {
        position: relative;
        font-size: 18px;
        margin-bottom: 0;
        min-height: 0;
        padding-bottom: 16px;
        padding-top: 18px;
        border-bottom: 1px solid #e6e6ec;

        br {
            display: none;
        }

        &.chevron {
            font-size: 19px;
            font-weight: 500;
            padding-left: 51px;
            transition: all .5s;
            box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);

            &::before {
                content: "";
                position: absolute;
                background-image: url("../img/arrow_filter.svg");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                width: 24px;
                height: 21px;
                left: 16px;
                top: 20px;
                transform: rotate(180deg);
                transition: all .5s;
            }
        }

        &.is-open {
            background-color: #f6f6f8;
            border-bottom: 1px solid transparent;
            box-shadow: none;
        }

        &.is-open.chevron::before {
            transform: rotate(0deg);
        }
    }

    .header__menu-dropdown {
        padding-top: 16px;
        padding-bottom: 18px;
    }

    .header__menu-wrap .container {
        padding-left: 0;
        padding-right: 0;
    }

    .header__menu-dropdown {
        display: none;
        background-color: #f6f6f8;
    }

    .header__help-links {
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 30px;
    }

    .header__menu {
        padding-bottom: 30px;
        padding-top: 0;
    }

    .header__tel {
        display: none;
    }

    .header__tel--mobile {
        display: flex;
        justify-content: center;
        padding-bottom: 23px;
    }

    .header__geo-content {
        display: none;
    }

    .header__partners {
        display: none;
    }

    .header__mobile-city {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #000000;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 34px;
        padding-bottom: 36px;

        .header__item span {
            color: #fff;
            margin-top: 0;
        }

        .header__item {
            display: flex;
        }

        .header__item:hover span {
            color: #00b3cf;
        }
    }

    .header__mobile-city .header__partners:hover svg path.cls-200 {
        
        fill: none;
        stroke: #00b3cf;
    }

    .header__bottom.active {
        border-top: none;
    }

    .header__main-panel {
        max-width: none;
        width: auto;
    }

    .header__search-content {
        display: none;
    }

    .header__search-content--mobile {
        display: flex;
    }

    .header__info-content {
        max-width: none;
        width: auto;
        display: none;
    }

    .header__logo {
        margin-left: -5px;
    }

    .burger-content {
        height: 32px;
    }

    .catalog-main .container {
        padding-left: 0;
        padding-right: 0;
    }

    .catalog-main__small:last-of-type {
        position: static;
    }

    .catalog-main__title {
        display: none;
    }

    .catalog-main__list {
        display: none;
    }

    .catalog-main__small-content {
        display: none;
    }

    .catalog-main__small:last-of-type .catalog-main__small-content {
        display: none;
    }

    .catalog-main .container {
        flex-direction: column;
    }

    .catalog-main__smalls {
        max-width: none;
        width: 100%;
        flex-wrap: nowrap;
    }

    .catalog-main__small-bg {
        position: relative;
        width: 100%;
        margin-bottom: 0;
    }

    .catalog-main__small:nth-child(even) .catalog-main__small-bg {
        margin-left: 0;
        width: 100%;
    }

    .catalog-main__small {
        min-height: 315px;
        margin-bottom: 0;

        &:first-child {
            order: 2;
        }

        &:last-child {
            order: 1;
        }
    }

    .catalog-main__big {
        position: relative;
        max-width: none;
        width: 100%;
        margin-right: 0;
        min-height: 443px;

        .catalog-main__title--mobile {
            font-size: 24px;
            margin-bottom: 32px;
        }

        .catalog-main__mobile-content {
            display: block;
            height: auto;
            max-width: 222px;
            padding-top: 32px;
        }
    }

    .catalog-main__mobile-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        max-width: 177px;
        width: 100%;
        height: 100%;
        top: 0;
        left: 28px;
        padding-top: 23px;
        padding-bottom: 30px;
    }

    .catalog-main__title--mobile {
        font-family: 'Ubuntu', sans-serif;
        font-size: 20px;
        line-height: 22px;
        font-weight: 400;
    }

    .catalog-main__link-mobile {
        display: block;
        width: 100%;
        line-height: 46px;
        background-color: #000;
        color: #fff;
        border-radius: 4px;
        text-align: center;
        font-size: 14px;
        max-width: 152px;
        width: 100%;
        transition: all .3s;

        &:hover {
            background-color: #00b3cf;
        }

    }

    .catalog-main {
        padding-top: 4px;
        padding-bottom: 18px;
    }

    .benefits {
        padding-top: 18px;
        padding-bottom: 23px;
    }

    .benefits__item {
        max-width: 173px;
        flex-direction: column;
        align-items: center;
    }

    .benefits__list {
        margin-left: 20px;
    }

    .benefits__item-img {
        margin-right: 0;
        margin-bottom: 0;
    }

    .partners-reads .container {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }

    .partners-reads__partners {
        max-width: 400px;
        padding-bottom: 60px;
    }

    .benefits__item-img {
        margin-left: -30px;
    }

    .partners-reads {
        padding-bottom: 65px;
    }

    .footer__menu {
        flex-wrap: wrap;
    }

    .footer__menu-wrap:nth-child(1) {
        max-width: 34%;
        order: 1;
        margin-bottom: 37px;
    }

    .footer__menu-wrap:nth-child(2) {
        max-width: 34%;
        order: 4;
    }

    .footer__menu-wrap:nth-child(3) {
        max-width: 34%;
        order: 3;
    }

    .footer__menu-wrap:nth-child(4) {
        max-width: 34%;
        order: 2;
        margin-bottom: 37px;
    }

    .footer__main-content {
        padding-top: 40px;
    }

    .header__search-content span {
        display: block;
    }

    .header__search-img {
        margin-right: 10px;
    }

    .articles__item p {
        line-height: 20px;
    } 

    .articles__item-wrap:nth-child(5) .articles__item {
        padding-bottom: 27px;
    }

    .articles__item {
        padding-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .articles__item-wrap {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 30px;
    }

    .articles__list {
        margin-left: -15px;
        margin-right: -15px;
    }

    .article__item-btn {
        line-height: 40px;
    }

    .article-single__content p {
        padding-left: 0;
    }

    .article-single .breadcrumbs .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .article-single .title-main {
        padding-left: 0;
    }

    .article-single__title {
        padding-left: 0;
    }

    .article-single__content {
        padding-bottom: 60px;
    }

    .items-list__content {
        padding-left: 30px;
    }

    .items-list__img {
        max-width: 110px;
        max-height: 110px;
    }

    .items-list__item--article {
        padding-bottom: 40px;
    } 

    .items-list__description {
        left: 40px;
    } 

    .order-goods__goods-img {
        margin-right: 26px;
    }

    .order-goods__goods-title {
        font-size: 30px;
        line-height: 38px;
    }

    .order-goods .container {
        padding-left: 0;
        padding-right: 0;
        max-width: none;
    }

    .order-goods__goods {
        padding-left: 30px;
        padding-right: 30px;
    }

    .order-goods__tab-list {
        padding-top: 0;
    }

    .order-goods__item-header-btn {
        display: none;
    }

    .order-goods__item-title-col {
        min-width: 0;
        max-width: none;
    }

    .order-goods__select {
        max-width: 491px;
    }

    .order-goods__tab-item {
        padding-left: 30px;
        padding-right: 30px;
    }

    .order-goods__benefits-item-wrap {
        padding-left: 30px;
        padding-right: 30px;
    }

    .order-goods__benefits-list {
        margin-left: -30px;
        margin-right: -30px;
    }

    .order-goods__goods-info {
        max-width: 260px;
    }

    .order-goods__goods {
        max-width: 500px;
        margin: 0 auto;
    }

    .order-goods__geos {
        margin-bottom: 535px;
    }

    .contacts__map {
        position: static;
        order: 2;
    }

    .contacts__content {
        order: 1;
        margin: 0;
    }

    .contacts__wrap {
        flex-direction: column;
        align-items: flex-start;
    }

    .contacts__map {
        height: 510px;
        max-width: none;
    }

    #map-contacts {
        height: 510px;
    }

    .contacts .container {
        padding-left: 0;
        padding-right: 0;
        max-width: none;
    }

    .contacts__content {
        padding-left: 30px;
        padding-right: 30px;
        max-width: 358px;
        margin-bottom: 53px;
    }

    .catalog__item {
        flex-direction: column;
        align-items: center;
        margin-bottom: 54px;
    }

    .catalog__item-img {
        max-width: 600px;
        height: 500px;
        margin-bottom: 32px;
    }

    .catalog__item-title::before {
        display: none;
    }

    .catalog__item-title::after {
        display: none;
    }

    .catalog__item-content {
        margin-left: 0;
    }

    .benefits-inner {
        display: none;
    }

    .catalog__item-more-btn {
        margin-top: 35px;
    }

    .catalog__filter {
        flex-direction: column;
        align-items: center;
        max-width: 600px;
        width: 100%;
        padding-bottom: 50px;
        margin: 0 auto;
    }

    .catalog__filter-wrap {
        display: none;
    }

    .catalog__links {
        display: none;
    }

    .catalog__filter-title {
        min-width: 97px;
        margin-right: 19px;
    }

    .catalog__filter-range input {
        max-width: 129px;
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;
    }

    .catalog__filter-spacer {
        margin-left: 18px;
        margin-right: 18px;
    }

    .catalog__filter-select {
        min-width: 301px;
        max-width: 301px;
    }

    .catalog__filter-field .selectize-input {
        padding-left: 20px;
        padding-right: 40px;
    }

    .catalog__filter-field .selectize-control.single .selectize-input:after {
        right: 13px;
    }

    .catalog__filter-field {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .catalog {
        padding-bottom: 0;
    }

    .catalog__flter-btn-mobile {
        display: block;
    }

    .catalog__flter-panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 42px;
    }

    .catalog .title-main {
        padding-right: 25px;
    }

    .card__main-wrap {
        flex-direction: column;
        align-items: center;
    }

    .card-slider-wrap {
        max-width: 800px;
    }

    .card__img {
        max-width: 800px;
        height: 500px;
    }

    .card__content {
        margin-left: 0;
        max-width: 800px;
    }

    .card {

        .slick-dots {
            position: absolute;
            bottom: 25px;
            z-index: 2;
            left: 50%;
            transform: translate(-50%, 0);
            padding-bottom: 0;
        }

        .slick-dots .slick-active button {
            background-color: #03b1cc;
        }

        .slick-dots button {
            background-color: #bdbdc5;
        }

        .slick-dots li {
            width: 10px;
            height: 10px;
        }
    }

    .card-slider-wrap {
        margin-bottom: 50px;
        position: relative;
    }

    .catalog__table-content {
       margin: 0;
       padding: 0;
    }

    .catalog__table-container {
       margin: 0;
    }

    .catalog__table {
        width: 100%;
    }

    .catalog__table tr td:first-child {
        padding-left: 10px;
    }

    .card__main-info::before {
        width: 200px;
        left: -200px;
    }

    .card__main-info::after {
        content: "";
        position: absolute;
        bottom: -1px;
        height: 1px;
        background-color: #000;
        width: 200px;
        right: -200px;
    }

    .card__documents::before {
        width: 200px;
        left: -200px;
    }

    .card__documents::after {
        content: "";
        position: absolute;
        top: -1px;
        height: 1px;
        background-color: #000;
        width: 200px;
        right: -200px;
    }

    .burger-content.active .burger-mob {
        left: 4px;
    }

    .popup-city__btn-close {
        width: 36px;
        height: 36px;
    }

    .popup-city__btn-line {
        right: 18px;
        display: none;
    }

    .popup-city {
        padding-top: 50px;
    }

    .popup-city__col {
        padding-right: 10px;

        &:last-child {
            padding-right: 0;
        }
    }

    .header__menu-wrap {
        position: absolute;
        top: 120px;
        width: 100%;
        left: 0;
        background-color: #fff;
        z-index: 5;
        box-shadow: 0px 8px 6px -7px rgba(0, 0, 0, 0.15);
    }

    .header__search-wrap {
        position: absolute;
        top: 120px;
        width: 100%;
        left: 0;
        background-color: #fff;
        z-index: 5;
        box-shadow: 0px 8px 6px -7px rgba(0, 0, 0, 0.15);
    }

    .header.active {
        box-shadow: none;
    }

    .header-inner .active {
        box-shadow: none;
    }

    .header__bottom.active {
        border-top: none;
    }

    .header__bottom {
        border-top: none;
    }

    .header__search-close-text::before {
        width: 70px;
        left: -16px;
    }

    .placeholder {
        padding: 0;
        left: 20px;
        top: 50%;
        transform: translate(0, -50%);
    }

    .about-main__content:hover .about-main__content-title::after {
        width: 0;
    }
    
    .orders__field.focus .placeholder {
      opacity: 1;
    }

    .orders__field.focus-in .placeholder {
      left: 20px;
      margin-left: 0;
      opacity: 0;
    }

    .orders__field.focus-out .placeholder {
      left: 20px;
      margin-left: 0px;
      opacity: 0;
    }

    .mobile-ruble {
        display: inline-block;
    }

    .rub {
        display: none;
    }

    .rub-small {
        display: none;
    }

    .rub-table {
        display: none;
    }
}

@media (max-width: 860px) {
    .footer__menu-title {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 10px;
    }

    .footer__menu-wrap:nth-child(1) {
        max-width: 40%;
    }

    .footer__menu-wrap:nth-child(2) {
        max-width: 40%;
    }

    .footer__menu-wrap:nth-child(3) {
        max-width: 40%;
    }

    .footer__menu-wrap:nth-child(4) {
        max-width: 40%;
    }

    .footer__spacer {
        display: none;
    }

    .footer__copyright {
        max-width: 400px;
    }

    .about-main .container {
        padding-left: 0;
        padding-right: 0;
    }

    .about-main__slider {
        display: block;
    }

    .about-main__list {
        display: block;
    }

    .about-main__item {
        max-width: 435px;
    }

    .about-main__content {
        align-items: flex-start;
        flex-direction: row;
    }

    .about-main__content-title {
        width: 50%;
        height: 170px;
    }

    .about-main__content-img {
        width: 50%;
        height: 170px;
    }

    .about-main__item-text {
        margin-left: 51px;
        max-width: 330px;
    }

    .about-main__item-text::before {
        left: 0;
    }

    .about-main__slider .slick-list {
        padding-left: 0 !important;
    }

    .about-main {
        padding-top: 23px;
    }

    .articles__item-img {
        max-width: 160px;
        max-height: 180px;
    }

    .items-list__wrap {
        flex: 0 0 50%;
        max-width: 50%;

        &:nth-child(3) {
            display: none;
        }
    }

    .items-list__img {
        max-width: 130px;
        max-height: 130px;
    } 

    .article-single__content p {
        font-size: 16px;
        line-height: 28px;
    }

    .certificate__item-wrap {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .about-main__item {
        max-width: none;
    }

    .about-main__content {
        max-width: 435px;
        width: 100%;
    }

    .about-us__item__wrap {
        width: 100%;
    }

    .about-us__item {
        max-width: none;
    }

    .about-us__bg {
        background-image: none !important;
    }

    .about-us__info {
        max-width: none;
    }

    .about-us__info {
        padding-bottom: 0;
    }

    .dealers__item-row {
        flex-direction: column;
    }

    .dealers__item-city {
        min-width: 0;
        max-width: none;
        margin-bottom: 12px;
        padding-top: 0;
        padding-right: 0;
    }

    .dealers__item-wrap-col {
        max-width: none;
    }

    .dealers__item-firm {
        max-width: none;
        padding-right: 0;
        margin-bottom: 5px;
    }

    .dealers__item-sites {
        max-width: none;
        margin-left: auto;
        padding-right: 0;
    }

    .dealers__item-address {
        padding-right: 0;
    }

    .dealers__item-sites {
        flex-wrap: wrap;
    }

    .dealers__item-sites a {
        margin-right: 25px;
    }

    .requisites {
        background-image: none !important;
    }

    .requisites__list {
        max-width: none;
    }

    .requisites__list {
        padding-top: 30px;
    }

    .partners-main {
        background-image: none !important;
    }

    .partners-main__title-text {
        max-width: none;
    }

    .orders__field input {
        max-width: none;
    }

    .partners-main__form {
        max-width: none;
    }

    .orders__field .selectize-control {
        max-width: none;
    }

    .orders__field textarea {
        max-width: none;
    }

    .feedback .partners-main__title-text p {
        padding-bottom: 22px;
    }

    .orders__field {
        max-width: none;
    }
}

@media (max-width: 760px) {
    .articles__item-wrap {
        flex: 0 0 100%;
        max-width: 600px;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .articles__list {
        margin: 0;
    }

    .breadcrumbs {
        padding-bottom: 47px;
    }

    .articles__item {
        min-height: 350px;
        padding-bottom: 30px;
    }

    .articles__item-img {
        max-width: 140px;
        max-height: 160px;
    }

    .article__item-btn {
        margin-top: 20px;
    }

    .article__item-title {
        margin-bottom: 20px;
    }

    .article__item-title {
        font-size: 19px;
        line-height: 23px;
    }

    .items-list__wrap {
        flex: 0 0 25%;
        max-width: 25%;
        padding-left: 13px;
        padding-right: 13px;

        &:nth-child(3) {
            display: flex;
        }

        &:nth-child(4) {
            display: flex;
        }
    }

    .items-list__content {
        margin-right: -13px;
    }

    .items-list__content {
        padding-left: 0;
    }

    .items-list .slick-list {
        padding-left: 0 !important;
    }

    .items-list .container {
        padding-right: 0;
    }

    .order-goods__geos-selects {
        flex-direction: column;
        align-items: center;
    }

    .order-goods__select {
        margin-right: 0;
        margin-bottom: 22px;
        max-width: none;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .order-goods__select .selectize-control {
        max-width: none;
    }

    .order-goods__map {
        height: 393px;
        top: 479px;
    }

    #map {
        height: 393px;
    }

    .order-goods__geos {
        margin-bottom: 390px;
    }

    .order-goods__benefits-item {
        flex-direction: column;
        align-items: center;
    }

    .order-goods__benefits-list {
        align-items: flex-start;
    }

    .order-goods__tab-row {
        flex-wrap: wrap;
        padding-top: 13px;
    }

    .order-goods__tab-address {
        max-width: none;
        min-width: 0;
        width: 100%;
        padding-bottom: 5px;
    }

    .order-goods__tab-tels {
        flex-direction: row;
    }

    .order-goods__tab-tels {
        max-width: none;
        min-width: 0;
        width: 100%;
    }

    .order-goods__tab-tel {
        position: relative;
        margin-right: 20px;
        padding-bottom: 16px;

        &::before {
            content: "|";
            position: absolute;
            right: -13px;
            top: 0;
        }

        &:last-child {
            margin-right: 0;

            &::before {
                display: none;
            }
        }
    }

    .order-goods__tab-sites {
        flex-direction: row;
        max-width: none;
        min-width: 0;
        width: 100%;
    }

    .order-goods__tab-sites a {
        position: relative;
        margin-right: 20px;

        &::before {
            content: "|";
            position: absolute;
            right: -13px;
            top: 0;
        }

        &:last-child {
            margin-right: 0;

            &::before {
                display: none;
            }
        }
    }

    .order-goods__geos {
        margin-bottom: 369px;
    }

    .order-goods__goods-img {
        margin-right: 20px;
    }

    .order-goods__goods-img {
        min-width: 147px;
        max-width: 147px;
    }

    .order-goods__benefits-img {
        margin-bottom: 7px;
    }

    .order-goods__item-title-col {
        padding-right: 0;
    }

    .order-goods__benefits-img {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        min-height: 59px;   
    }

    .order-goods__benefits-list {
        padding-top: 45px;
    }

    .contacts .breadcrumbs {
        padding-bottom: 47px;
    }

    .catalog__mod {
        min-width: 76px;
    }

    .catalog__table {
        width: 760px;
    }

    .catalog__table tr td:first-child {
        padding-left: 0;
    }

    .catalog__table-content {
        padding-left: 30px;
    }

    .catalog__table-container {
        margin-left: -30px;
        margin-right: -30px;
    }

    .catalog__table tr td:last-child {
        padding-right: 13px !important;
    }
}

@media (max-width: 640px) {
    .benefits__item p {
        font-size: 14px;
        line-height: 22px;
    }

    .benefits__item-img {
        margin-left: -60px;
    }

    .benefits__item {
        max-width: 135px;
    }

    .benefits .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .benefits__list {
        margin-left: 10px;
    }

    .benefits__item {
        max-width: 130px;
    }

    .about-main {
        padding-bottom: 32px;
    }

    .partners-reads {
        padding-top: 32px;
    }

    .partners-read__slider-title {
        font-size: 26px;
        line-height: 30px;
    }

    .footer__copyright-text {
        font-size: 12px;
        line-height: 16px;
    }

    .footer__copyright {
        max-width: 210px;
    }

    .header__search-title {
        padding-bottom: 23px;
    }

    .header__search-menu {
        padding-bottom: 114px;
    }

    .header__help-link {
        margin-right: 25px;
    }

    .header__help-link::before {
        right: -15px;
    }

    .header__search-close {
        margin: 0 auto;
        margin-bottom: 29px;
        padding-top: 21px;
    }

    .header__search-close-text {
        color: #fff;
    }

    .header__search-close:hover .header__search-close-text {
        color: #fff;
    }

    .header__search-submit {
        max-width: 110px;
    }

    .certificate__item-wrap {
        flex: 0 0 100%;
        max-width: 350px;
        margin: 0 auto;
        margin-bottom: 30px;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .certificate__list {
        margin: 0;
    }

    .about-us__info p {
        line-height: 30px;
    }

    .about-us__info-title {
        padding-top: 10px;
    }

    .about-us__sub-content {
        padding-top: 60px;
    }

    .about-us__item__wrap {
        margin-bottom: 65px;
    }

    .about-us__distribution {
        padding-bottom: 55px;
    }

    .about-us__benefit {
        font-size: 26px;
        line-height: 36px;
    }

    .about-us__subscribe-btn {
        font-size: 28px;
        line-height: 28px;
    }

    .dealers__item-address {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }

    .dealers__item-address p::before {
        display: none;
    }

    .dealers__item-address-tel:first-of-type {
        margin: 0;
    }

    .dealers__item-address p {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .dealers__item-row {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .dealers__item-header {
        padding-top: 25px;
        padding-bottom: 28px;
    }

    .document-list__item {
        width: 50%;
        margin-right: 0;
    }

    .catalog .title-main {
        font-size: 25px;
        line-height: 30px;
    }

    .catalog__item-img {
        height: 415px;
    }

    .catalog__item-img img {
        max-width: 201px;
    }

    .card__img {
        height: 412px;
    }

    .card__img img {
        max-width: 199px;
        max-height: 199px;
    }

    .card .document-list__item {
        margin-right: 0;
    }
    
    .popup-thanks {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .header__search-close-text::before {
        width: 30px;
        left: 26px;
    }

    .header__search-close {
        opacity: 0;
        pointer-events: none;
        margin-bottom: 0;
        height: 40px;
    }

}

@media (max-width: 540px) {
    .partners-read__slider-img {
        max-width: 206px;
        height: 202px;

        img {
            max-width: 97px;
            max-height: 97px;
        }
    }

    .partners-reads__slider-item {
        justify-content: flex-start;
    }

    .partners-reads__slider-recommend {
        padding-bottom: 9px;
    }

    .partners-reads__slider-btn {
        margin-bottom: 40px;
    }

    .footer__menu-wrap:nth-child(1) {
        max-width: 49%;
    }

    .footer__menu-wrap:nth-child(2) {
        max-width: 44%;
    }

    .footer__menu-wrap:nth-child(3) {
        max-width: 49%;
    }

    .footer__menu-wrap:nth-child(4) {
        max-width: 44%;
    }

    .footer__copyright-text {
        display: block;
        max-width: 172px;
        width: 100%;
    }

    .header__search-img svg {
        margin-bottom: -4px;
    }

    .article-single .title-main {
        padding-bottom: 40px;
    }

    .orders__checkbox {
        padding-bottom: 50px;
    }

    .header__menu-wrap {
        top: 116px;
    }

    .header__search-wrap {
        top: 116px;
    }
}

@media (max-width: 470px) {
    .benefits__list {
        margin-left: 0;
    }

    .benefits__list {
        flex-direction: column;
        align-items: center;
    }

    .benefits__item {
        max-width: 300px;
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .benefits__item p {
        max-width: none;
        text-align: center;
    }

    .benefits__item p br {
        display: none;
    }

    .benefits__item-img {
        margin-left: 0;
    }

    .benefits__item-img {
        width: 80px;
        min-height: 71px;
    }

    .footer__menu-wrap {
        max-width: 100% !important;
        margin-bottom: 20px !important;
    }

    .footer__menu-list {
        text-align: center;
        margin: 0 auto;
    }

    .footer__menu-list li::before {
        display: none;
    }

    .footer__menu-title {
        max-width: none;
        text-align: center;
        min-height: 0;
        margin-bottom: 20px;
    }

    .footer__menu-list li {
        padding-left: 0;
        padding-bottom: 15px;
    }

    .footer__info-content {
        flex-direction: column-reverse;
    }

    .footer__tel-social {
        width: 100%;
        text-align: center;
    }

    .footer__social-list {
        justify-content: center;
    }

    .footer__copyright {
        max-width: none;
        width: 100%;
        text-align: center;
        margin-top: 25px;
    }

    .footer__copyright-text {
        margin: 0 auto;
    }

    .footer {
        padding-bottom: 20px;
    }

    .header__help-link::before {
        display: none;
    }

    .header__help-links {
        flex-direction: column;
        align-items: center;
    }

    .header__help-link {
        margin-right: 0;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .catalog-main__big {
        padding-left: 15px;
        padding-right: 15px;
        min-height: 315px;
        padding-bottom: 30px;
    }

    .catalog-main__mobile-content {
        left: 15px;
    }

    .catalog-main__smalls {
        flex-wrap: wrap;
    }

    .catalog-main__big .catalog-main__mobile-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }

    .catalog-main__big .catalog-main__title--mobile {
        font-size: 20px;
    }

    .about-main__item-text {
        margin-left: 0;
        padding-left: 15px;
    }

    .about-main__item-text::before {
        left: 51px;
    }

    .about-main__content-title {
        padding-left: 15px;
        padding-right: 15px;
    }

    .partners-reads__partners {
        padding-left: 15px;
        padding-right: 15px;
    }

    .header__search-content span {
        display: none;
    }

    .burger-content__text {
        display: none;
    }

    .partners-reads__partners-title {
        font-size: 28px;
        line-height: 30px;
        padding-bottom: 24px;
    }

    .partners-reads__slider-item {
        flex-direction: column;
    }

    .partners-read__slider-img {
        max-width: 250px;
        height: 250px;
        margin-bottom: 30px;
        margin-right: 0;

        img {
            max-width: 110px;
            max-height: 110px;
        }
    }

    .partners-reads__slider-content {
        max-width: none;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
    }

    .partners-reads__slider-btns {
        justify-content: center;
    }

    .partners-read__slider-title {
        margin-bottom: 15px;
    }

    .header__mobile-city {
        padding-left: 15px;
        padding-right: 15px;
    }

    .header__search-submit {
        max-width: 70px;
    }

    .header__search-field input {
        padding-left: 10px;
    }

    .header__logo {
        margin-left: 0px;
    }

    .partners-read__slider-title {
        font-size: 24px;
    }

    .header__bottom {
        padding-top: 30px;
    }

    .header {
        padding-bottom: 30px;
    }

    .catalog-main {
        padding-top: 0;
    }

    .about-main__title {
        font-size: 20px;
        line-height: 24px;
    }

    .header__mobile-city {
        padding-top: 20px;
        padding-bottom: 20px;
        flex-direction: column;
        align-items: center;
    }

    .header__geo-content {
        margin-bottom: 15px;
    }

    .header__search-menu {
        padding-bottom: 50px;
    }

    .items-list__description {
        left: 25px;
    }

    .items-list--articles .items-list__img {
        max-width: 150px;
        max-height: 150px;
    }

    .items-list__img {
        max-width: 120px;
        max-height: 120px;
    }

    .article-single .breadcrumbs .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .article-single .title-main {
        font-size: 34px;
        line-height: 40px;
    }

    .about-us__item .btn-border {
        font-size: 16px;
    }

    .about-us__item-title {
        font-size: 35px;
    }

    .about-us__item__wrap {
        margin-bottom: 55px;
    }

    .about-us__distribution {
        padding-bottom: 45px;
    }

    .about-us__benefit {
        font-size: 22px;
        line-height: 32px;
    }

    .dealers__item-row {
        padding-left: 15px;
        padding-right: 15px;
    }

    .document-list {
        flex-direction: column;
        align-items: center;
    }

    .document-list__item {
        max-width: 217px;
        width: 100%;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .orders__field {
        margin-bottom: 20px;
    }

    .orders__field input {
        height: 60px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 14px;
    }

    .orders__field .selectize-control {
        height: 60px;
    }

    .orders__field .selectize-control.single .selectize-input, .selectize-control.single .selectize-input input {
        line-height: 60px;
        height: 60px;
        padding-left: 10px;
    }

    .orders__field .selectize-input::before {
        top: 7px;
        right: 45px;
    }

    .orders__field .selectize-control.single .selectize-input:after {
        top: 26px;
        right: 12px;
    }

    .orders__field .selectize-control.single .selectize-input.dropdown-active:after {
        top: 27px;
    }

    .orders__field .selectize-input.dropdown-active::before {
        right: 45px;
        top: 7px;
    }

    .orders__field .selectize-control.single .selectize-input, .orders__field .selectize-control.single .selectize-input input {
        line-height: 60px;
        height: 60px;
    }

    .orders__field .selectize-dropdown .option {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 14px;
    }

    .partners-main__contact-title {
        padding-bottom: 15px;
    }

    .orders__checkbox label.orders__label {
        font-size: 14px;
        padding-left: 38px;
    }

    .orders__checkbox label.orders__label::before {
        width: 24px;
        height: 24px;
        top: -3px;
    }

    .orders__checkbox input[type=checkbox]:checked ~ label.orders__label::after {
        width: 12px;
        height: 12px;
        top: 4px;
        left: 6px;
    }

    .order-goods__goods {
        flex-direction: column;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
    }

    .order-goods__goods-img {
        margin-bottom: 15px;
        margin-right: 0;
    }

    .order-goods__goods-info {
        max-width: none;
        text-align: center;
    }

    .order-goods__geos {
        padding-left: 15px;
        padding-right: 15px;
    }

    .header__search-img {
        margin-right: 0;
    }

    .order-goods__map {
        top: 627px;
    }

    .order-goods__geos {
        margin-bottom: 388px;
    }

    .order-goods__item-title {
        font-size: 16px;
    }

    .order-goods__tab-item {
        padding-left: 15px;
        padding-right: 15px;
    }

    .order-goods__item-header::before {
        width: 26px;
        height: 20px;
        right: 0;
    }

    .order-goods__item-header {
        padding-right: 45px;
    }

    .order-goods__benefits-item-wrap {
        padding-right: 15px;
        padding-left: 15px;
    }

    .order-goods__benefits-list {
        margin-left: -15px;
        margin-right: -15px;
    }

    .order-goods__benefits-item p {
        font-size: 12px;
    }

    .order-goods__tab-tels {
        flex-direction: column;
        padding-bottom: 10px;
    }

    .order-goods__tab-tel {
        padding-bottom: 0;
    }

    .order-goods__tab-tel::before {
        display: none;
    }

    .order-goods__tab-sites {
        flex-direction: column;
    }

    .order-goods__tab-sites a::before {
        display: none;
    }

    .orders__field textarea {
        height: 60px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 14px;

        &::placeholder {
            padding-top: 20px;
        }
    }

    .orders__checkbox label.orders__label a {
        font-size: 14px;
    }

    .contacts__content {
        padding-left: 15px;
        padding-right: 15px;
    }

    .contacts__info {
        padding-bottom: 30px;
    }

    .contacts__links {
        padding-bottom: 38px;
    }

    .contacts__city {
        font-size: 27px;
    }

    .catalog__flter-panel {
        flex-direction: column;
        align-items: flex-start;
    }

    .catalog .title-main {
        padding-right: 0;
        padding-bottom: 20px;
    }

    .catalog__item-img img {
        max-width: 180px;
    }

    .catalog__item-img {
        height: 340px;
    }

    .catalog__item-title {
        font-size: 30px;
        line-height: 35px;
        padding-bottom: 10px;
    }

    .catalog__mods {
        padding-bottom: 18px;
    }

    .catalog__mod {
        font-size: 11px;
        min-width: 62px;
    }

    .catalog__item-price {
        font-size: 25px;
    }

    .catalog__item-price sup {
        font-size: 32px;
    }

    .catalog__filter-field {
        flex-direction: column;
        width: 100%;
    }

    .catalog__filter-title {
        margin-right: 0;
        margin-bottom: 10px;
        min-width: 0;
    }

    .catalog__filter-select {
        min-width: 0;
        width: 100%;
    }

    .catalog__item-more-btn {
        line-height: 50px;
    }

    .catalog .selectize-control.single .selectize-input, .selectize-control.single .selectize-input input {
        line-height: 42px;
        height: auto;
    }

    .breadcrumbs {
        opacity: 0;
        pointer-events: none;
    }

    .card__img {
        height: 340px;
    }

    .card__img img {
        max-width: 180px;
        max-height: 180px;
    }

    .breadcrumbs {
        padding: 0;
        padding-bottom: 15px;
    }

    .contacts .breadcrumbs {
        padding: 0;
        padding-bottom: 15px;
    }

    .catalog__table-content {
        padding-left: 15px;
    }

    .catalog__table-container {
        margin-left: -15px;
        margin-right: -15px;
    }

    .popup-city__btn-close {
        width: 30px;
        height: 30px;
        top: -30px;
        right: -7px;
    }

    .popup-city__btn-close::before {
        top: 13px;
    }

    .popup-city__btn-close::after {
        top: 13px;
    }

    .popup-city__col:last-child {
        display: none;
    }

    .popup__title {
        font-size: 24px;
        line-height: 26px;
    }

    .popup-city .popup__title {
        padding-bottom: 25px;
    }

    .popup-city__field input {
        height: 50px;
    }

    .popup-city {
        padding-top: 40px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .popup-city__col a {
        font-size: 14px;
    }

    .popup-city__col {
        padding-right: 15px;

        &:nth-child(2) {
            padding-right: 0;
        }
    }

    .popup-city__col li {
        padding-bottom: 12px;
    }

    .popup-city__list {
        padding-top: 25px;
    }

    .popup-thanks {
        padding-left: 15px;
        padding-right: 15px;
    }

    .popup-thanks__content p {
        padding-bottom: 30px;
    }

    .popup-thanks .btn-border {
        font-size: 16px;
    }

    .header__menu-wrap {
        top: 87px;
    }

    .header__search-wrap {
        top: 87px;
        overflow: hidden;
    }

    .orders__field textarea {
        padding-top: 5px;

        &::placeholder {
            padding-top: 16px;
        }
    }

    .card__specifications-text {
        font-size: 14px;
    }

    .placeholder {
        left: 10px;
        font-size: 14px;
    }

    .orders__field.focus-in .placeholder {
      left: 10px;
      margin-left: 0;
      opacity: 0;
    }

    .orders__field.focus-out .placeholder {
      left: 10px;
      margin-left: 0px;
      opacity: 0;
    }
}