@import "normalize";
@import "variables";
@import "slick";
@import "fancybox";
@import "selectize";


.overflowHidden {
	overflow: hidden;
} 

body {
	position: relative;
	font-family: 'Roboto', sans-serif;
  	-webkit-font-smoothing: antialiased;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.container {
	max-width: 1650px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.container-big {
	max-width: 1730px;
}

.main-wrap {
	transition: all .3s;

	&::before {
		content: "";
		position: absolute;
		background-color: rgba(216,216,223,0.7);
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0;
	}

	&.layout::before {
		content: "";
		position: absolute;
		background-color: rgba(216,216,223,0.7);
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 3;
		opacity: 1;
		transition: all .3s;
	}
}

.header {
	position: relative;
	z-index: 4;
	background-color: #fff;
	padding-bottom: 30px;

	&.active {
		box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2); 
	}
}

.header__content-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.burger-content {
  	position: relative;
  	display: block;
  	width: auto;
  	cursor: pointer;

  	&:hover .burger-mob::before {
  		background: #00b3cf;
  	}

  	&:hover .burger-mob::after {
  		background: #00b3cf;
  	}

  	&:hover .burger-mob {
  		background: #00b3cf;
  	}

  	&:hover .burger-content__text {
  		color: #00b3cf;
  	}

  	&.active {

  		.burger-mob {
  			top: 12px;
  			transform: rotate(-45deg);
  			left: 0;
  		}

  		.burger-mob::before {
  			top: 9px;
  			transform: rotate(90deg);
  			width: 11px;
  			left: 9px;

  		}

  		.burger-mob::after {
  			bottom: 7px;
  			width: 15px;
  			left: 7px;
  			transform: rotate(90deg);
  		}
  	}
}

.burger-mob {
  	position: relative;
  	display: block;
  	background: #01060c;
  	width: 30px;
  	height: 3px;
  	top: 12px; 
  	transition: all .3s;

  	&::before {
  	  	content: "";
  	  	position: absolute;
  	  	background: #01060c;
  	  	width: 21px;
  	  	height: 3px;
  	  	top: 9px;
  	  	display: block;
  	  	transition: all .3s;
  	 
  	}

  	&::after {
  	  	content: "";
  	  	position: absolute;
  	  	background: #01060c;
  	  	width: 30px;
  	  	height: 3px;
  	  	bottom: 9px;
  	  	display: block;
  	  	transition: all .3s;
  	 
  	}
}

.burger-content__text {
	display: inline-block;
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	color: #000000;
	padding-left: 47px;
	transition: all .3s;
	margin-top: 1px;
}

.header__main-panel {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	max-width: 477px;
	width: 100%;
	margin-bottom: -5px;
}

.header__item {
	display: flex;
	align-items: center;
	justify-content: space-between;

	span {
		text-transform: uppercase;
		font-size: 14px;
		color: #000000;
		font-weight: 700;
		transition: all .3s;
	}

	&:hover span {
		color: #00b3cf;
	}

	svg path {
		transition: all .3s;
	}

	&:hover svg path {
		fill: #00b3cf;
	}
}

.header__partners {
	
	svg path {
		transition: all .3s;
	}

	&:hover svg path.cls-2 {
		
		fill: none;
		stroke: #00b3cf;
	}

}

.header__geo-content span {
	margin-top: -4px;
}

.header__geo-img {
	margin-right: 9px;
}

.header__search-content span {
	margin-top: -2px;
}

.header__search-img {
	margin-right: 13px;
}

.header__logo {
	display: block;
	max-width: 172px;
	height: auto;
	margin-left: -45px;

	img {
		width: 100%;
	}
}

.header__info-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 416px;
	width: 100%;
}

.header__partners-img {
	margin-right: 10px;

	svg {
		margin-bottom: -3px;
	}
}

.header__tel-img {
	margin-bottom: -1px;
	margin-right: 13px;
	height: 30px;
}

.header__menu {
	padding-top: 115px;
	padding-bottom: 75px;
}

.header__menu-wrap {

	.container {
		max-width: 1664px;
	}
}

.header__menu-list {
	display: flex;

	li {
		max-width: 282px;
		margin-right: 63px;

		&:last-child {
			margin-right: 0;
		}
	}

	a {
		display: inline-block;
		font-family: 'Ubuntu', sans-serif;
		font-size: 24px;
		line-height: 26px;
		min-height: 52px;
		color: #000000;
		margin-bottom: 40px;
		transition: all .3s;

		&:hover {
			color: #00b3cf;
		}
	}
}

.header__menu-dropdown {

	li {
		max-width: none;
		margin-right: 0;
	}

	a {
		font-size: 16px;
		font-weight: 300;
		min-height: 0;
		margin-bottom: 10px;
	}
}

.header__help-links {
	display: flex;
	justify-content: center;
	padding-bottom: 45px;
}

.header__help-link {
	position: relative;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	color: #737c86;
	font-weight: 300;
	margin-right: 67px;
	transition: all .3s;

	&:hover {
		color: #00b3cf;
	}

	&::before {
		content: "|";
		position: absolute;
		font-size: 16px;
		top: -1px;
		right: -35px;
		color: #737c86;
		pointer-events: none;
	}

	&:last-child {
		margin-right: 0;

		&::before {
			display: none;
		}
	}
}

.header__bottom {
	padding-top: 30px;
	transition: all .3s;
	border-top: 1px solid transparent;

	&.active {
		border-top: 1px solid #d7d7e0;
	}
}

.header__menu-wrap {
	display: none;
	// height: 0;
	// max-height: 0;
	// overflow: hidden;
	// transition: ease .7s;


	// &.active {
	// 	max-height: 1000px;
	// 	height: auto;
	// }
}

.header__search-wrap {
	display: none;
	// height: 0;
	// max-height: 0;
	// overflow: hidden;
	// transition: ease .7s;


	// &.active {
	// 	max-height: 1000px;
	// 	height: auto;
	// }
}

.header__search-wrap {

	.container {
		max-width: 1664px;
	}
}

.header__search-menu {
	padding-bottom: 238px;
}

.header__search-title {
	font-family: 'Ubuntu', sans-serif;
	max-width: 836px;
	width: 100%;
	margin: 0 auto;
	font-size: 32px;
	color: #000000;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 46px;
	font-weight: 400;
}

.header__search-form {
	display: flex;
	justify-content: space-between;
	max-width: 836px;
	width: 100%;
	height: 76px;
	margin: 0 auto;
	border: 1px solid #d7d7e0;
	transition: opacity 1.5s;
	//opacity: 0;
}

//.header__search-wrap.active .header__search-form {
	//opacity: 1;
//}

.header__search-field {
	width: 100%;
	height: 100%;

	input {
		font-family: 'Ubuntu', sans-serif;
		width: 100%;
		height: 100%;
		font-size: 16px;
		color: #000;
		padding-left: 20px;
		font-weight: 300;

		&::placeholder {
			color: #838489;
			opacity: 1;
		}
	}
}

.header__search-submit {
	font-size: 18px;
	max-width: 120px;
	width: 100%;
	color: #000000;
	background-color: transparent;
	transition: all .3s;

	&:hover {
		color: #00b3cf;
	}
}

.header__search-close-text {
	position: relative;
	font-family: 'Ubuntu', sans-serif;
	display: block;
	font-size: 14px;
	color: #000000;
	transform: rotate(90deg);
	width: 94px;
	transition: all .3s;

	&::before {
		content: "";
		position: absolute;
		width: 79px;
		height: 1px;
		background-color: #000;
		bottom: -9px;
		left: -25px;
		transition: all .3s;
	}
}
.header__search-close-wrap {

}

.header__search-close {
	cursor: pointer;
	margin-left: auto;
	width: 60px;
	padding-top: 56px;
	margin-bottom: 52px;

	svg {
		margin-top: 17px;
	}

	&:hover .header__search-close-text {
		color: #00b3cf;

		&::before {
			background-color: #00b3cf;
		}
	}

	svg path  {
		transition: all .3s;
	}

	&:hover svg path {
		fill: #00b3cf;
	}
}

.catalog-main {
	padding-top: 68px;
	padding-bottom: 43px;

	.container {
		display: flex;
		justify-content: space-between;
	}
}

.catalog-main__big {
	max-width: 798px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 856px;
	padding: 53px 70px;
	overflow: hidden;

	.catalog-main__title {
		padding-bottom: 35px;
	}
}

.catalog-main__title {
	font-family: 'Ubuntu', sans-serif;
	font-size: 34px;
	line-height: 30px;
	color: #000000;
	font-weight: 400;
	padding-bottom: 36px;
}

.catalog-main__list {
	padding-left: 10px;

	li {
		font-family: 'Ubuntu', sans-serif;
		position: relative;
		margin-bottom: 20px;
		transition: all .3s;

	}

	a {
		display: inline-block;
		position: relative;
		font-size: 16px;
		color: #000000;
		font-weight: 300;
		padding-left: 28px;
		transition: all .3s;

		&:hover {
			color: #0b93a8;
			transform: translate(10px, 0);

			&::before {
				width: 200px;
				left: -185px;
				background-color: #0b93a8;
			}
		}

		&::before {
			content: "";
			position: absolute;
			width: 14px;
			height: 1px;
			background-color: #000;
			top: 9px;
			left: 0;
			transition: all .3s;
		}
	}
}

.catalog-main__smalls {
	max-width: 796px;
	width: 100%;
}

.catalog-main__small {
	display: flex;
	justify-content: space-between;
	width: 100%;
	min-height: 416px;

	&:nth-child(even) .catalog-main__small-bg {
		margin-right: 0;
		margin-left: 27px;
	}
}

.catalog-main__small-bg {
	position: relative;
	// max-width: 385px;
	width: calc(50% - 13px);
	margin-right: 27px;
	z-index: 1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.catalog-main__small-content {
	// max-width: 385px;
	width: calc(50% - 13px);
	overflow: hidden;
	padding: 46px 43px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.catalog-main__smalls {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.benefits {
	padding-top: 43px;
	padding-bottom: 50px;

	.container {
		max-width: 1006px;
	}
}

.benefits__title {
	font-family: 'Ubuntu', sans-serif;
	font-size: 32px;
	color: #000;
	font-weight: 300;
	line-height: 30px;
}

.benefits__list {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 70px;
}

.benefits__item {
	max-width: 173px;
	width: 100%;

	p {
		font-family: 'Ubuntu', sans-serif;
		color: #000;
		font-size: 16px;
		line-height: 22px;
		font-weight: 500;
	}
}

.benefits__item-img {
	display: flex;
	align-items: center;
	min-height: 83px;
	margin-bottom: 30px;
}

.about-main {
	padding-top: 50px;
	padding-bottom: 60px;
}

.about-main__item {
	display: flex;
	flex-direction: column;
	max-width: 512px;
	width: 100%;
}

.about-main__content {
	display: flex;
	min-height: 200px;

	&:hover .about-main__content-title::after {
		width: 100%;
	}
}

.about-main__content-title {
	position: relative;
	display: flex;
	align-items: center;
	width: 50%;
	background-color: #000000;
	padding-left: 34px;
	padding-right: 34px;
	z-index: 1;

	&::before {
		content: "";
		position: absolute;
		width: 1px;
		height: 59px;
		left: 55px;
		bottom: 0;
		background-color: #fff;
	}

	&::after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 0;
		height: 100%;
		z-index: -1;
		background-color: #00b3cf;
		transition: all .3s;
	}
}

.about-main__title {
	font-size: 28px;
	line-height: 30px;
	font-weight: 300;
	color: #ffffff;
	margin-top: -19px;
}

.about-main__content-img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 50%;
}

.about-main__item-text {
	position: relative;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	font-weight: 300;
	max-width: 325px;
	width: 100%;
	margin-left: 56px;
	padding-top: 39px;

	&::before {
		content: "";
		position: absolute;
		width: 1px;
		height: 12px;
		top: 0;
		left: -1px;
		background-color: #000000;
	}
}

.partners-reads {
	padding-top: 60px;
	padding-bottom: 140px;
	
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1510px;
	}
}

.partners-reads__partners {
	max-width: 365px;
	width: 100%;
	margin-left: -17px;

	p {
		font-family: 'Ubuntu', sans-serif;
		font-size: 18px;
		line-height: 26px;
		color: #000;
		font-weight: 300;
		padding-bottom: 27px;
	}
}

.partners-reads__partners-title {
	font-family: 'Ubuntu', sans-serif;
	font-size: 32px;
	line-height: 30px;
	color: #000000;
	font-weight: 400;
	padding-bottom: 30px;
}

.btn-border {
	display: inline-block;
	font-size: 18px;
	color: #000000;
	line-height: 26px;
	transition: all .3s;
	border-bottom: 2px solid #000;
	background-color: transparent;

	&:hover {
		color: #009db6;
		border-bottom: 2px solid #009db6;
	}
}

.partners-reads__reads {
	max-width: 926px;
	width: 100%;
}

.partners-reads__slider-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.partners-reads__slider-content {
	max-width: 237px;
	width: 100%;
}

.partners-read__slider-title {
	display: block;
	font-family: 'Ubuntu', sans-serif;
	font-size: 28px;
	line-height: 30px;
	color: #000000;
	font-weight: 700;
	margin-bottom: 26px;
	min-height: 60px;
	transition: all .3s;

	&:hover {
		color: #009db6;
	}
}

.partners-read__slider-img {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	max-width: 580px;
	height: 366px;
	width: 100%;
	margin-right: 40px;
	background-color: #afdeed;

	img {
		max-width: 210px;
		max-height: 210px;
	}
}

.partners-reads__slider-recommend {
	display: block;
	font-size: 18px;
	color: #71747f;
	text-transform: uppercase;
	padding-bottom: 17px;
}

.partners-reads__slider-btns {
	display: flex;
}

.partners-reads__slider-btn {
	background-color: transparent;
	margin-bottom: 60px;
	height: 23px;

	svg path {
		transition: all .3s;
	}

	&:hover svg path {
		fill: #009db6;
	}
}

.partners-reads__slider-btn--prev {
	margin-right: 17px;
}

.partners-read__slider-counter {
	position: absolute;
	font-size: 18px;
	color: #000000;
	top: 23px;
	right: 25px;
}

.footer {
	background-color: #f9f9fb;
	padding-bottom: 40px;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
}

.footer__form-content {
	position: relative;
	max-width: 492px;
	width: 100%;
	border: 1px solid #e7e7ee;
	background-color: #fff;
	padding-top: 70px;
	margin-top: -60px;
	margin-right: 30px;

	p {
		font-size: 16px;
		line-height: 20px;
		color: #000000;
		font-weight: 300;
		padding-left: 98px;
		padding-right: 80px;
		padding-bottom: 29px;
	}
}

.footer__form-title {
	font-size: 32px;
	line-height: 30px;
	color: #000000;
	font-weight: 700;
	padding-bottom: 25px;
	padding-left: 98px;
	padding-right: 80px;
}

.footer__field {
	width: 100%;
	padding-left: 90px;
	padding-right: 80px;

	input {
		width: 100%;
		background-color: transparent;
		font-size: 20px;
		color: #000000;
		font-weight: 300;
		padding-left: 13px;
		padding-right: 13px;
		height: 36px;
		border-bottom: 1px solid #000000;

		&::placeholder {
			opacity: 1;
			color: #000000;
		}
	}

	textarea {
		width: 100%;
		font-size: 17px;
		line-height: 24px;
		color: #000000;
		font-weight: 300;
		resize: none;
		border: none;
		outline: none;
		height: 92px;
		border-top: 1px solid #e7e7ee;
		padding-left: 13px;
		padding-right: 95px;

		&::placeholder {
			opacity: 1;
			color: #000000;
			padding-left: 90px;
			padding-top: 30px;
		}
	}
}

.footer__field--textarea {
	padding: 0;
}

.footer__checkbox {
	position: relative;
	padding-top: 48px;
	padding-left: 98px;
	padding-right: 70px;
	margin-bottom: 49px;
}

.footer__checkbox label.label-checker {
	font-family: 'PT Sans', sans-serif;
 	position: relative;
  	font-size: 14px;
  	font-weight: 400;
  	color: #000;
  	cursor: pointer;
  	padding-left: 25px;

  	&::before {
    	content: "";
    	position: absolute;
    	width: 16px;
    	height: 16px;
    	border: 2px solid #000;
    	left: 0;
    	top: 1px;
 	}
}

input[type=checkbox] {
  	display: block;
  	opacity: 0;
  	pointer-events: none;
  	width: 0;
  	height: 0;
}

.footer__checkbox input[type=checkbox]:checked ~ label.label-checker::after {
  	content: "";
  	position: absolute;
  	background-image: url("../img/check-footer.svg");
  	background-size: contain;
  	background-repeat: no-repeat;
  	background-position: center;
  	width: 11px;
  	height: 11px;
  	left: 3px;
  	top: 4px;
}

.footer__checkbox-link {
	color: #7399bf;
}

.footer__submit-btn {
	position: absolute;
	bottom: 0px;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 94px;
	height: 95px;
	background-color: #afdeed;
	transition: all .3s;

	svg {
		margin-left: -2px;
		margin-bottom: -5px;
	}

	&:hover {
		background-color: #00b3cf;
	}
}

.footer__main-content {
	max-width: 1090px;
	width: 100%;
	padding-top: 83px;
}

.footer__menu {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.footer__menu-wrap {

	&:nth-child(1) {
		max-width: 160px;
		width: 100%;
	}

	&:nth-child(2) {
		max-width: 220px;
		width: 100%;
	}

	&:nth-child(3) {
		max-width: 240px;
		width: 100%;
	}

	&:nth-child(4) {
		max-width: 155px;
		width: 100%;
	}
}

.footer__menu-title {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	line-height: 24px;
	max-width: 230px;
	width: 100%;
	font-weight: 500;
	text-transform: uppercase;
	color: #000;
	margin-bottom: 14px;
	min-height: 48px;
}

.footer__menu-list {
	font-family: 'Ubuntu', sans-serif;
	max-width: 230px;
	width: 100%;

	li {
		position: relative;
		padding-left: 11px;
		padding-bottom: 18px;

		&::before {
			content: "•";
			position: absolute;
			left: 0;
			top: 1px;
		}
	}

	a {
		font-size: 14px;
		color: #000;
		transition: all .3s;

		&:hover {
			color: #00b3cf;
		}
	}
}

.footer__info-content {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-top: 21px;
}

.footer__copyright-text {
	font-size: 14px;
	color: #828491;
}

.footer__spacer {
	font-size: 16px;
	color: #828491;
	margin-left: 11px;
	margin-right: 15px;
}

.footer__policy {
	display: inline-block;
	font-size: 14px;
	line-height: 12px;
	color: #828491;
	transition: all .3s;
	border-bottom: 1px solid #90929e;

	&:hover {
		color: #00b3cf;
		border-bottom: 1px solid #00b3cf;
	}
}

.footer__tel {
	display: block;
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	color: #000000;
	font-weight: 500;
	margin-bottom: 22px;
}

.footer__social-list {
	display: flex;
}

.footer__social {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	border: 1px solid #191919;
	margin-right: 7px;
	transition: all .3s;

	&:hover {
		border: 1px solid #00b3cf;
	}

	&:last-child {
		margin-right: 0;
	}

	&.vk svg {
		margin-left: -2px;
		margin-bottom: -2px;
	}

	svg path {
		transition: all .3s;
	}

	&:hover svg path {
		fill: #00b3cf;
	}
}

.footer__copyright {
	padding-bottom: 9px;
}

.popup {
	display: none;
}

.popup-city {
	max-width: 804px;
	width: 100%;
	background-color: #fff;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 74px;
	padding-top: 90px;
}

.popup-city__content {
	position: relative;
	max-width: 557px;
	width: 100%;
	margin: 0 auto;
}

.popup__title {
	font-family: 'Ubuntu', sans-serif;
	font-size: 32px;
	line-height: 34px;
	color: #000000;
	font-weight: 400;
}

.popup-city .popup__title {
	padding-bottom: 47px;
}

.popup-city__field {
	width: 100%;

	input {
		font-family: 'Ubuntu', sans-serif;
		width: 100%;
		font-size: 16px;
		color: #000;
		font-weight: 300;
		padding-left: 20px;
		padding-right: 20px;
		height: 76px;
		border: 1px solid #d7d7e0;

		&::placeholder {
			opacity: 1;
			color: #000;
		}
	}
}

.popup-city__list {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding-top: 63px;
}

.popup-city__col {
	

	li {
		padding-bottom: 9px;
	}

	a {
		font-family: 'PT Sans', sans-serif;
		font-size: 16px;
		color: #000000;
		transition: all .3s;

		&:hover {
			color: #00b3cf;
		}
	}
}

.popup .fancybox-button svg {
    width: 60px;
    height: 60px;
    border-radius: 2px;
}

.fancybox-slide--html .fancybox-close-small {
    color: #000;
    right: 0;
    width: 60px;
    height: 60px;
    padding: 0;
    top: 0px;
    transition: ease 0.3s;
    opacity: 1;
}

.fancybox-close-small:hover {
    color: #00b3cf;
    transition: ease 0.3s;
}

.popup-thanks {
	max-width: 665px;
	width: 100%;
	padding-bottom: 116px;
	padding-top: 111px;
}

.popup-thanks .popup__title {
	padding-bottom: 21px;
}

.popup-thanks__content {
	max-width: 310px;
	width: 100%;
	margin: 0 auto;

	p {
		font-size: 18px;
		line-height: 22px;
		font-weight: 300;
		color: #000000;
		padding-bottom: 50px;
	}
}

.popup-city .fancybox-button {
	display: none !important;
}

.popup-thanks .fancybox-button {
	display: none !important;
}

.header__logo-mobile {
	display: none;
}

.header__tel--mobile {
	display: none;
}

.header__mobile-city {
	display: none;
}

.header__search-content--mobile {
	display: none;
}

.catalog-main__mobile-content {
	display: none;
}

.about-main__list {
	display: flex;
	justify-content: space-between;
}



.breadcrumbs {
	padding-top: 31px;
	padding-bottom: 91px;
}

.breadcrumbs__list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.breadcrumbs__item {
	font-family: 'Ubuntu', sans-serif;
	position: relative;
	font-size: 14px;
	color: #000000;
	margin-right: 50px;
	transition: all .3s;

	&:hover {
		color: #00b3cf;

		&::before {
			color: #000000;
		}
	}

	&::before {
		content: "----";
		position: absolute;
		right: -32px;
		top: 0;
		pointer-events: none;
		color: #000000;
	}

	&:last-child {
		margin-right: 0;

		&::before {
			display: none;
		}
	}
}

.header-inner {
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
}

.title-main {
	font-size: 39px;
	line-height: 45px;
	color: #000000;
	font-weight: 300;
}

.articles {
	padding-bottom: 110px;
	overflow: hidden;
}

.articles__list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -33px;
	margin-right: -33px;
	padding-top: 50px;
}

.articles__item-wrap {
	display: flex;
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
	padding-left: 33px;
	padding-right: 33px;
	margin-bottom: 67px;

	&:nth-child(5) .articles__item {
		padding-bottom: 78px;
	}
	
}

.articles__item {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	background-color: #e7e7ee;
	min-height: 493px;
	padding-left: 53px;
	padding-right: 53px;
	padding-top: 37px;
	padding-bottom: 88px;
	transition: all .3s;

	p {
		font-family: 'PT Sans', sans-serif;
		font-size: 16px;
		line-height: 24px;
		color: #000000;
	}

	&:hover {
		background-color: #afdeed;

		.article__item-btn {
			border: 1px solid #00b3cf;
			background-color: #00b3cf;
			color: #fff;
		}

		&::before {
			top: -9px;
			background-color: #afdeed;
		}

		&::after {
			bottom: -9px;
			background-color: #afdeed;
		}
	}

	&::before {
		content: "";
		position: absolute;
		top: 0px;
		left: 0;
		width: 100%;
		height: 9px;
		background-color: #e7e7ee;
		transition: all .3s;
		z-index: -1;
		pointer-events: none;
	}

	&::after {
		content: "";
		position: absolute;
		bottom: 0px;
		left: 0;
		width: 100%;
		height: 9px;
		background-color: #e7e7ee;
		transition: all .3s;
		z-index: -1;
		pointer-events: none;
	}
}

.article__item-title {
	font-size: 22px;
	color: #000000;
	line-height: 26px;
	font-weight: 400;
	// min-height: 160px;
	// margin-bottom: 23px;
}

.articles__item-img {
	max-width: 205px;
	max-height: 210px;
	align-self: center;

	img {
		margin: 0 auto;
	}
}

.article__item-btn {
	display: block;
	max-width: 116px;
	width: 100%;
	font-size: 13px;
	font-weight: 300;
	color: #000000;
	text-align: center;
	border: 1px solid #000;
	line-height: 45px;
	transition: all .3s;
	margin-top: 6px;
}

.article-single {

	.title-main {
		font-weight: 500;
		padding-left: 70px;
		padding-bottom: 60px;
	}

	.container {
		max-width: 1064px;
	}
}

.article-single .breadcrumbs .container {
	padding-left: 88px;
}

.article-single__content {
	padding-bottom: 87px;
	
	p {
		font-size: 18px;
		line-height: 30px;
		font-weight: 300;
		color: #000000;
		padding-left: 70px;
		padding-bottom: 35px;
	}

	img {
		margin-bottom: 43px;
	}

}

.article-single__title {
	font-size: 28px;
	line-height: 30px;
	color: #000000;
	padding-left: 70px;
	font-weight: 400;
	padding-bottom: 35px;
}

.items-list {
	overflow: hidden;
	padding-bottom: 94px;

	.container {
		position: relative;
	}

	&:last-of-type {
		padding-bottom: 0;
	}
}

.items-list-wrap {
	padding-bottom: 180px;
}

.items-list__content {
	display: flex;
	margin-left: -17px;
	margin-right: -17px;
	padding-left: 26px;
	width: 100%;
	margin-left: auto;
}

.items-list__wrap {
	display: flex;
	flex: 0 0 25%;
	max-width: 25%;
	padding-left: 17px;
	padding-right: 17px;
}

.items-list--watch {

	.items-list__item {
		background-color: #fff;
		border: 1px solid #dee1e3;

		&:hover {
			background-color: #afdeed;
			border: 1px solid #afdeed;
		}
	}
}

.items-list__item {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 100%;
	background-color: #e7e7ee;
	min-height: 366px;
	padding-left: 39px;
	padding-right: 39px;
	padding-top: 28px;
	padding-bottom: 30px;
	transition: all .3s;

	&:hover {
		background-color: #afdeed;

		&::before {
			background-color: #afdeed;
			left: -5px;
		}

		&::after {
			background-color: #afdeed;
			right: -5px;
		}
	}

	&::before {
		content: "";
		position: absolute;
		top: 0px;
		left: 0px;
		width: 5px;
		height: 100%;
		background-color: #e7e7ee;
		transition: all .3s;
		z-index: -1;
		pointer-events: none;
	}

	&::after {
		content: "";
		position: absolute;
		top: 0px;
		right: 0;
		width: 5px;
		height: 100%;
		background-color: #e7e7ee;
		transition: all .3s;
		z-index: -1;
		pointer-events: none;
	}

}

.items-list--articles {

	.items-list__img {
		max-width: 220px;
		max-height: 220px;
		align-self: center;
	}
}

.items-list__img {
	max-width: 170px;
	max-height: 170px;
	margin: 0 auto;
	align-self: center;

	img {
		margin: 0 auto;
	}
}

.items-list__title {
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	font-weight: 300;

	span {
		display: block;
		font-weight: 900;
	}
}

.items-list__item--article {
	justify-content: space-between;
	padding-bottom: 68px;

	.items-list__title {
		font-size: 16px;
		line-height: 22px;
		font-weight: 400;
		color: #000000;
	}
}

.items-list__description {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	left: 42px;
	top: 0;
	height: 366px;
	pointer-events: none;
}

.items-list__description-text {
	position: relative;
	// width: 366px;
	display: block;
	font-size: 18px;
	color: #000000;
	transform: rotate(90deg);
	transform-origin: 0% 0;
	z-index: 1;
	background-color: #fff;
	padding-right: 30px;

	// &::before {
	// 	content: "";
	// 	position: absolute;
	// 	width: 100%;
	// 	height: 1px;
	// 	background-color: #000;
	// 	left: 0;
	// 	bottom: 9px;
	// 	z-index: -1;
	// }
}

.items-list__description-line {
	position: absolute;
	width: 366px;
	height: 1px;
	background-color: #000;
	transform: rotate(90deg);
	transform-origin: 0% 0;
	z-index: -1;
	left: -12px;
	top: 0;
}

.items-list-price {
	font-family: 'PT Sans', sans-serif;
	font-size: 22px;
	color: #000000;
}

.popup-city__btn-close {
	position: absolute;
	right: 0;
	top: -50px;
	width: 46px;
	height: 46px;
	background-color: transparent;

	&:hover {


		&::before {
			background-color: #00b3cf;
		}

		&::after {
			background-color: #00b3cf;
		}

		.popup-city__btn-line {
			background-color: #00b3cf;
		}
	}


	&::before {
		content: "";
		display: block;
		position: absolute;
		background: #000;
		width: 100%;
		height: 3px;
		top: 23px;
		border-radius: 50px;
		transform: rotate(-45deg);
		transition: all .3s;
	}

	&::after {
		content: "";
		display: block;
		position: absolute;
		background: #000;
		width: 100%;
		height: 3px;
		top: 23px;
		border-radius: 50px;
		transform: rotate(45deg);
		transition: all .3s;
	}
}

.popup-city__btn-line {

	position: absolute;
	width: 1px;
	height: 48px;
	top: -50px;
	right: 22px;
	background-color: #000;
	transition: all .3s;
}

.certificate {
	overflow: hidden;
	padding-bottom: 130px;
}

.certificate__list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -25px;
	margin-right: -25px;
	padding-top: 50px;
}

.certificate__item-wrap {
	display: flex;
	flex: 0 0 25%;
	max-width: 25%;
	padding-left: 25px;
	padding-right: 25px;
	margin-bottom: 51px;
}

.certificate__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	background-color: #fff;
	border: 1px solid #e7e7ee;
	min-height: 366px;
	padding-top: 37px;
	transition: all .3s;

	&:hover {
		border: 1px solid #00b3cf;

		.certificate__item-title {
			color: #00b3cf;
		}
	}
}

.certificate__item-title {
	font-size: 30px;
	line-height: 26px;
	color: #000000;
	font-weight: 300;
	padding-left: 40px;
	padding-right: 40px;
	transition: all .3s;
}

.certificate__item-img {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	max-width: 212px;
	height: 283px;
	align-self: flex-end;
}

.fancybox-button--thumbs {
	display: none !important;
}

.fancybox-button--play {
	display: none !important;
}

.fancybox-button--zoom {
	display: none !important;
}

.about-us {
	position: relative;
}

.about-us__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1070px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.about-us__content {
	position: relative;
}

.about-us__info {
	max-width: 600px;
	width: 100%;
	padding-top: 40px;
	padding-bottom: 113px;

	p {
		font-size: 22px;
		line-height: 36px;
		color: #000000;
		font-weight: 300;
		padding-bottom: 37px;
	}
}

.about-us__info-title {
	display: block;
	font-size: 28px;
	line-height: 30px;
	color: #000000;
	font-weight: 400;
	padding-top: 23px;
}

.about-us__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.about-us__item__wrap {
	width: 50%;
	margin-bottom: 86px;
}

.about-us__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 700px;
	width: 100%;
	height: 100%;

	p {
		font-size: 18px;
		line-height: 30px;
		color: #000;
		font-weight: 300;
		padding-bottom: 25px;
	}

	.btn-border {
		align-self: flex-start;
	}
}

.about-us__item-title {
	display: inline-block;
	font-size: 39px;
	color: #000000;
	font-weight: 900;
	margin-bottom: 18px;
}

.about-us__item-title--black {
	padding-left: 11px;
	padding-right: 11px;
	padding-bottom: 4px;
	color: #fff;
	background-color: #000;
}

.about-us__distribution {
	display: block;
	font-size: 28px;
	line-height: 30px;
	color: #000000;
	font-weight: 400;
	padding-bottom: 75px;
}

.about-us__sub-content {
	padding-top: 130px;
}

.about-us__benefit {
	display: block;
	max-width: 1015px;
	width: 100%;
	font-size: 39px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
	padding-bottom: 46px;
	padding-top: 8px;
}

.about-us__subscribe-btn {
	display: inline-block;
	font-size: 30px;
	line-height: 30px;
	color: #000;
	border-bottom: 2px solid #000;
	transition: all .3s;

	&:hover {
		color: #009db6;
		border-bottom: 2px solid #009db6;
	}
}

.about-us {
	padding-bottom: 148px;
}

.dealers {
	padding-bottom: 155px;
}

.dealers__list {
	padding-top: 48px;
}

.dealers__item {
	width: 100%;

	&:last-child .dealers__item-header {
		border-bottom: 1px solid transparent;
	}
}

.dealers__item-header-title {
	position: relative;
	display: block;
	width: 100%;
	font-size: 18px;
	color: #000000;
	font-weight: 700;
	padding-right: 50px;

	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/arrow.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		width: 37px;
		height: 27px;
		right: 0;
		top: 0;
		transform: rotate(180deg);
		transition: all .3s;
	}
}

.dealers__item-header {
	border-bottom: 1px solid #d7d7e0;
	padding-bottom: 36px;
	padding-top: 33px;
	cursor: pointer;
	transition: all .3s;

	&.active {
		border-bottom: 1px solid transparent;
	}

	&.active .dealers__item-header-title::before {
		transform: rotate(0deg);
		transition: all .3s;
	}
}

.dealers__item-content {
	display: none;
	max-width: 1580px;
	width: 100%;
	margin-left: auto;
}

.dealers__item-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 68px;

	&:nth-child(odd) {
		background-color: #f9f9fb;
	}
}

.dealers__item-city {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	color: #000000;
	min-width: 140px;
	max-width: 140px;
	padding-right: 5px;
}

.dealers__item-firm {
	font-size: 16px;
	font-weight: 700;
	color: #000000;
	min-width: 310px;
	max-width: 310px;
	padding-right: 5px;
}

.dealers__item-address {
	display: flex;
	align-items: center;
	min-width: 620px;
	max-width: 620px;
	padding-right: 5px;

	p {
		font-family: 'Ubuntu', sans-serif;
		position: relative;
		font-size: 16px;
		color: #000;
		margin-right: 19px;

		&::before {
			content: "|";
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			right: -21px;
		}
	}
}

.dealers__item-address-tel {
	font-family: 'Ubuntu', sans-serif;
	display: inline-block;
	font-size: 16px;
	color: #000;
	margin-right: 13px;
	white-space: nowrap;

	&:first-of-type {
		margin-left: 19px;
	}

	&:last-of-type {
		margin-right: 0;
	}
}

.dealers__item-sites {
	font-family: 'PT Sans', sans-serif;
	display: flex;
	align-items: center;

	a {
		font-size: 16px;
		color: #01a4bd;
		margin-right: 44px;
		transition: all .3s;

		&:hover {
			color: #00b3cf;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}

.dealers__item-wrap-col {
	max-width: 1310px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.requisites {
	padding-bottom: 143px;
}

.requisites__list {
	max-width: 960px;
	width: 100%;
	padding-top: 44px;
}

.requisites__item-label {
	display: block;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	color: #7e7e84;
	padding-bottom: 2px;
}

.requisites__item-text {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	color: #000000;
}

.requisites__item {
	padding-bottom: 25px;
}

.document-list {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.requisites {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.requisites .document-list {
	padding-top: 34px;
}

.document-list__item {
	display: flex;
	align-items: center;
	margin-right: 50px;

	span {
		display: block;
		font-family: 'Ubuntu', sans-serif;
		font-size: 14px;
		color: #000000;
		margin-left: 15px;
		transition: all .3s;
	}

	svg path {
		transition: all .3s;
	}

	&:hover {

		svg path {
			fill: #00b3cf;
		}

		span {
			color: #00b3cf;
		}
	}

	&:last-child {
		margin-right: 0;
	}
}

.partners-main {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-bottom: 138px;
}

.partners-main__title-text {
	padding-top: 15px;
	padding-bottom: 17px;
	max-width: 545px;
	width: 100%;

	p {
		font-family: 'Ubuntu', sans-serif;
		font-size: 18px;
		line-height: 24px;
		color: #000000;
		font-weight: 300;
		padding-bottom: 22px;
	}
}

.partners-main__contact-title {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	font-weight: 500;
	text-transform: uppercase;
	padding-bottom: 35px;
}

.partners-main__form {
	max-width: 660px;
	width: 100%;
}

.orders__field.focus .placeholder {
  opacity: 0;
}
.orders__field.focus-in .placeholder {
  left: 100%;
  margin-left: 10px;
  opacity: 1;
}
.orders__field.focus-out .placeholder {
  left: 100%;
  margin-left: 10px;
  opacity: 0;
}

.placeholder {
  display: block;
  position: absolute;
  top: 30px;
  left: 20px;
  opacity: 1;
  font-weight: 300;
  color: #000000;
  pointer-events: none;
  transition: opacity 0.2s ease;
  white-space: nowrap;

  &.hide {
  	display: none;
  }
}

.orders__field {
	position: relative;
	margin-bottom: 34px;
	max-width: 491px;

	input {
		max-width: 491px;
		width: 100%;
		font-family: 'Ubuntu', sans-serif;
		font-size: 16px;
		color: #000000;
		height: 76px;
		border: 1px solid #d7d7e0;
		padding-left: 20px;
		padding-right: 20px;
		font-weight: 500;
		background-color: #fff;
		transition: all .3s;

		&:focus {
			border: 1px solid #00b3cf;
		}

		&::placeholder {
			opacity: 1;
			font-weight: 300;
			color: #000000;
		}
	}

	textarea {
		max-width: 491px;
		width: 100%;
		font-family: 'Ubuntu', sans-serif;
		font-size: 16px;
		color: #000000;
		height: 76px;
		border: 1px solid #d7d7e0;
		padding-left: 20px;
		padding-right: 20px;
		font-weight: 500;
		background-color: #fff;
		transition: all .3s;
		resize: none;
		outline: none;
		padding-top: 10px;

		&:focus {
			border: 1px solid #00b3cf;
		}

		&::placeholder {
			opacity: 1;
			font-weight: 300;
			color: #000000;
			padding-top: 16px;
		}
	}

	.selectize-control {
		max-width: 491px;
		width: 100%;
		height: 76px;
	}

	.selectize-input {
		position: relative;
		padding: 0;
		font-family: 'Ubuntu', sans-serif;
		font-size: 16px;
		color: #000;
		padding-left: 20px;
		padding-right: 60px;
		box-shadow: none;
		border: 1px solid #d7d7e0;
		border-radius: 0px;
		transition: all .3s;

		&::before {
			content: "";
			position: absolute;
			height: 46px;
			width: 1px;
			background-color: #e9e9ee;
			top: 15px;
			right: 66px;
			transition: all .3s;
		}
	}

	.selectize-input.dropdown-active::before {
			content: "";
			position: absolute;
			height: 46px;
			width: 1px;
			background-color: #73d5e5;
			top: 15px;
			right: 66px;
			left: auto;
			transition: all .3s;
		}

	.selectize-control.single .selectize-input, .selectize-control.single .selectize-input input {
		line-height: 76px;
		font-weight: 500;
		height: 76px;
	}

	.selectize-control.single .selectize-input:after {
		background-image: url("../img/arrow.svg");
		border-right-color: transparent;
		border-width: 0;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		width: 22px;
		height: 17px;
		pointer-events: none;
		top: 36px;
		transform: rotate(180deg);
		right: 22px;
		transition: all .3s;
	}

	.selectize-control.single .selectize-input.dropdown-active:after {
	  background-image: url("../img/arrow-b.svg");
	  transition: all .3s;
	  top: 37px;
	}

	.selectize-control.single .selectize-input.input-active, .selectize-control.single .selectize-input.input-active input {
		border: 1px solid #00b3cf;
		transition: all .3s;
	}

	.selectize-dropdown {
		margin: 0;
	}

	.selectize-dropdown .option, .selectize-dropdown [data-disabled], .selectize-dropdown [data-disabled] [data-selectable].option {
		color: #000;
		opacity: 1;
	}

	.selectize-dropdown .option {
		font-family: 'Ubuntu', sans-serif;
		font-size: 16px;
		padding-bottom: 14px;
		padding-left: 20px;
		padding-right: 20px;
		cursor: pointer;
		transition: all .3s;
	}

	.selectize-dropdown .option:hover {
		color: #009db6;
		background-color: transparent;
	}

	.selectize-dropdown .option.selected.active {
		background-color: transparent;
	}

	.selectize-dropdown-content {
		padding-top: 13px;
		padding-bottom: 10px;
		height: auto;
		overflow: auto;
		min-height: 0;
	}
}

.orders__checkbox {
	position: relative;
	padding-top: 11px;
	padding-bottom: 57px;
}

.orders__checkbox label.orders__label {
	display: inline-block;
	font-family: 'Ubuntu', sans-serif;
 	position: relative;
  	font-size: 16px;
  	font-weight: 300;
  	color: #000;
  	cursor: pointer;
  	padding-left: 55px;

  	&::before {
    	content: "";
    	position: absolute;
    	width: 34px;
    	height: 36px;
    	border: 1px solid #d7d7e0;
    	left: 0;
    	top: -8px;
    	background-color: #fff;
 	}

 	a {
 		font-size: 16px;
 		color: #03b1cc;
 	}
}

.orders__checkbox input[type=checkbox]:checked ~ label.orders__label::after {
  	content: "";
  	position: absolute;
  	background-image: url("../img/check-bl.svg");
  	background-size: contain;
  	background-repeat: no-repeat;
  	background-position: center;
  	width: 21px;
  	height: 21px;
  	left: 7px;
  	top: 1px;
}

.orders__checkbox input[type=checkbox]:checked ~ label.orders__label::before {
  	border: 1px solid #00b3cf;
}

.orders__submit {
	display: block;
	text-align: center;
	max-width: 154px;
	line-height: 51px;
	width: 100%;
	border: 2px solid #000;
	font-size: 18px;
	font-weight: 300;
	color: #000000;
	background-color: transparent;
	transition: all .3s;

	&:hover {
		border: 2px solid #00b3cf;
	}
}

.order-goods {
	padding-bottom: 140px;
	overflow: hidden;
}

.order-goods__content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.order-goods__map {
	max-width: 810px;
	width: 100%;
	height: 810px;
}

#map {
	width: 100%;
	height: 810px;
}

.order-goods__content-main {
	max-width: 850px;
	width: 100%;
}

.order-goods__goods {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 693px;
	width: 100%;
	margin-left: auto;
	padding-bottom: 54px;
}

.order-goods__goods-info {
	max-width: 488px;
	width: 100%;
}

.order-goods__goods-img {
	max-width: 157px;
	min-width: 145px;
	overflow: hidden;
	margin-right: 20px;

	img {
		margin: 0 auto;
	}
}

.order-goods__goods-title {
	display: inline-block;
	font-size: 39px;
	line-height: 45px;
	color: #000000;
	font-weight: 300;
	transition: all .3s;
	margin-bottom: 9px;

	span {
		display: block;
		font-weight: 900;
	}

	&:hover {
		color: #00b3cf;
	}
}

.order-goods__goods-price {
	font-family: 'PT Sans', sans-serif;
	display: block;
	font-size: 30px;
	font-weight: 700;
	color: #000000;
}

.order-goods__goods-note {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	line-height: 16px;
	color: #000000;
	font-weight: 300;
}

.order-goods__select {

	.selectize-control {
		max-width: 491px;
		width: 100%;
		height: 76px;
	}

	.selectize-input {
		position: relative;
		padding: 0;
		font-family: 'Ubuntu', sans-serif;
		font-size: 16px;
		color: #000;
		padding-left: 20px;
		padding-right: 60px;
		box-shadow: none;
		border: 1px solid #d7d7e0;
		border-radius: 0px;
		transition: all .3s;

		&::before {
			content: "";
			position: absolute;
			height: 46px;
			width: 1px;
			background-color: #e9e9ee;
			top: 15px;
			right: 61px;
			transition: all .3s;
		}
	}

	.selectize-input.dropdown-active::before {
			content: "";
			position: absolute;
			height: 46px;
			width: 1px;
			background-color: #73d5e5;
			top: 15px;
			right: 61px;
			left: auto;
			transition: all .3s;
		}

	.selectize-control.single .selectize-input, .selectize-control.single .selectize-input input {
		line-height: 74px;
		font-weight: 500;
	}

	.selectize-control.single .selectize-input:after {
		background-image: url("../img/arrow.svg");
		border-right-color: transparent;
		border-width: 0;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		width: 14px;
		height: 13px;
		pointer-events: none;
		top: 36px;
		transform: rotate(180deg);
		right: 23px;
		transition: all .3s;
	}

	.selectize-control.single .selectize-input.dropdown-active:after {
	  background-image: url("../img/arrow-b.svg");
	  transition: all .3s;
	  top: 37px;
	}

	.selectize-control.single .selectize-input.input-active, .selectize-control.single .selectize-input.input-active input {
		border: 1px solid #00b3cf;
		transition: all .3s;
	}

	.selectize-dropdown {
		margin: 0;
	}

	.selectize-dropdown .option, .selectize-dropdown [data-disabled], .selectize-dropdown [data-disabled] [data-selectable].option {
		color: #000;
		opacity: 1;
	}

	.selectize-dropdown .option {
		font-family: 'Ubuntu', sans-serif;
		font-size: 16px;
		padding-bottom: 14px;
		padding-left: 20px;
		padding-right: 20px;
		cursor: pointer;
		transition: all .3s;
	}

	.selectize-dropdown .option:hover {
		color: #009db6;
		background-color: transparent;
	}

	.selectize-dropdown .option.selected.active {
		background-color: transparent;
	}

	.selectize-dropdown-content {
		padding-top: 13px;
		padding-bottom: 10px;
		height: auto;
		overflow: auto;
		min-height: 0;
	}
}

.order-goods__geos {
	background-color: #efeff4;
	padding-bottom: 50px;
	padding-left: 40px;
	padding-right: 40px;
	margin-left: -40px;
	margin-right: -40px;
}

.order-goods__geos-wrap {
	max-width: 693px;
	width: 100%;
	margin-left: auto;
}

.order-goods__geos-title {
	display: block;
	font-size: 18px;
	color: #000000;
	font-weight: 500;
	padding-bottom: 26px;
	padding-top: 33px;
}

.order-goods__geos-selects {
	display: flex;
	align-items: flex-start;
}

.order-goods__select {
	max-width: 332px;
	width: 100%;
	margin-right: 25px;

	&:last-child {
		margin-right: 0;
	}
}

.order-goods__item-header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-right: 90px;
	cursor: pointer;
	padding-bottom: 24px;
	padding-top: 30px;

	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/arrow.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		width: 37px;
		height: 27px;
		right: 10px;
		top: 35px;
		transform: rotate(180deg);
		transition: all .3s;
	}

	&.active::before {
		transform: rotate(0deg);
		transition: all .3s;
	}
}

.order-goods__tab-item {
	border-bottom: 1px solid #d7d7e0;
	padding-left: 10px;
}

.order-goods__item-title {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: #000000;
	padding-bottom: 3px;
}

.order-goods__item-city {
	display: block;
	font-size: 14px;
	font-weight: 300;
	color: #000000;
}

.order-goods__item-title-col {
	max-width: 435px;
	min-width: 435px;
	padding-right: 15px;
}

.order-goods__item-header-btn {
	display: block;
	font-size: 14px;
	font-weight: 300;
	text-align: center;
	color: #000000;
	max-width: 136px;
	width: 100%;
	line-height: 35px;
	border: 1px solid #d7d7e0;
	transition: all .3s;

	&:hover {
		border: 1px solid #afdeed;
		color: #009db6;
	}
}

.order-goods__tab-col {
	display: none;
}

.order-goods__tab-row {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 11px;
	
}

.order-goods__tab-address {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	color: #000000;
	min-width: 215px;
	max-width: 215px;
	padding-right: 15px;
}

.order-goods__tab-tels {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-width: 130px;
	max-width: 130px;
}

.order-goods__tab-tel {
	font-family: 'Ubuntu', sans-serif;
	display: inline-block;
	font-size: 14px;
	line-height: 18px;
	color: #000000;
}

.order-goods__tab-sites {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-width: 226px;
	max-width: 226px;
	padding-right: 10px;

	a {
		font-size: 14px;
		line-height: 18px;
		font-weight: 500;
		color: #01a4bd;
	}
}

.order-goods__tab-list {
	padding-top: 20px;
	max-width: 693px;
	width: 100%;
	margin-left: auto;
}

.order-goods__content-main {
	padding-left: 40px;
	padding-right: 40px;
}

.order-goods__benefits-list {
	display: flex;
	align-items: center;
	padding-top: 63px;
	margin-left: -40px;
	margin-right: -40px;
	padding-bottom: 30px;
}

.order-goods__benefits-item-wrap {
	flex: 0 0 33.333%;
	max-width: 33.333%;
	padding-left: 40px;
	padding-right: 40px;
}

.order-goods__benefits-item {
	display: flex;
	align-items: center;
	max-width: 170px;
	width: 100%;

	p {
		font-size: 13px;
		line-height: 16px;
		color: #000000;
		max-width: 83px;
		width: 100%;
	}
}

.order-goods__benefits-img {
	max-width: 66px;
	min-width: 66px;
	margin-right: 20px;

	img {
		margin: 0 auto;
	}
}

.feedback {

	.partners-main__title-text p {
		padding-bottom: 51px;
	}

	.orders__checkbox {
		margin-top: -5px;
	}
}

.contacts {
	position: relative;
}

.contacts__wrap {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	min-height: 925px;
}

.contacts__map {
	position: absolute;
	left: 0;
	max-width: 70%;
	height: 925px;
	width: 100%;
}

.contacts__content {
	max-width: 298px;
	width: 100%;
	margin-left: auto;
}

.contacts__city {
	font-size: 30px;
	color: #000000;
	font-weight: 500;
	padding-bottom: 15px;
}

.contacts__address {
	font-size: 18px;
	line-height: 26px;
	color: #000000;
	font-weight: 300;
}

.contacts .breadcrumbs {
	padding-bottom: 65px;
}

.contacts__info {
	padding-bottom: 48px;
}

.contacts__links {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-bottom: 55px;
}

.contacts__tel {
	font-family: 'Ubuntu', sans-serif;
	display: inline-block;
	font-size: 20px;
	line-height: 24px;
	color: #000000;
	font-weight: 700;
	margin-bottom: 15px;
}

.contacts__email {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	color: #029fb7;
}

.contacts__support-title {
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	text-transform: uppercase;
	font-weight: 700;
	padding-bottom: 20px;
}

.contacts__support-tel {
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	color: #000000;
}

.contacts__support-tel-content {
	display: flex;
	align-items: baseline;
	border-bottom: 1px solid #c3c5c7;
	padding-bottom: 43px;

	span {
		font-family: 'PT Sans', sans-serif;
		font-size: 14px;
		margin-right: 8px;
	}
}

.contacts__work-days-list {
	display: flex;
	padding-bottom: 30px;
}

.contacts__work-days-item {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 41px;
	height: 41px;
	background-color: #7d7d86;
	margin-right: 1px;
	overflow: hidden;

	&:last-child {
		margin-right: 0;
	}
}

.contacts__day {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	color: #ffffff;
}

.contacts__work-days-item--off {
	background-color: #e74b4b;
	
	&::before {
		content: "";
		position: absolute;
		width: 1px;
		top: -8px;
		left: 19px;
		height: 60px;
		background-color: rgba(0,0,0,0.65);
		transform: rotate(45deg);
	}

	&::after {
		content: "";
		position: absolute;
		width: 1px;
		top: -8px;
		left: 21px;
		height: 60px;
		background-color: rgba(0,0,0,0.65);
		transform: rotate(-45deg);
	}

	.contacts__day {
		color: #000;
	}

}

.contacts__work-day-info {
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #000000;

	span {
		font-size: 14px;
	}
}

.contacts__work-days {
	padding-top: 44px;
}

#map-contacts {
	width: 100%;
	height: 925px;
}

.catalog {
	padding-bottom: 125px;
}

.catalog__links {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	padding-top: 37px;
	padding-bottom: 40px;

	li {
		margin-right: 50px;
		margin-bottom: 20px;

		&::last-child {
			margin-right: 0;
		}
	}
}

.catalog__link-item {
	display: inline-block;
	font-size: 16px;
	color: #000000;
	font-weight: 500;
	background-color: transparent;
	transition: all .3s;
	line-height: 24px;
	border-bottom: 2px solid #000;

	&:hover {
		color: #009db6;
		border-bottom: 2px solid #009db6;
	}
}

.catalog__filter {
	display: flex;
	align-items: flex-start;
	padding-bottom: 45px;
}

.catalog__filter-field {
	display: flex;
	align-items: center;
	margin-right: 65px;
}

.catalog__filter-title {
	font-family: 'PT Sans', sans-serif;
	display: block;
	font-size: 14px;
	color: #000000;
	margin-right: 25px;
	text-transform: uppercase;
}

.catalog__filter-range {
	display: flex;
	align-items: center;

	input {
		max-width: 82px;
		width: 100%;
		font-family: 'PT Sans', sans-serif;
		font-size: 16px;
		color: #55555a;
		height: 44px;
		text-align: center;
		padding-left: 5px;
		padding-right: 5px;
		border-radius: 10px;
		border: 1px solid #ceced2;
		transition: all .3s;

		&:focus {
			border: 1px solid #00b3cf;
		}

		&::placeholder {
			opacity: 1;
			color: #55555a;
		}
	}
}

.catalog__filter-spacer {
	width: 7px;
	height: 2px;
	background-color: #55555a;
	margin-right: 10px;
	margin-left: 10px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.catalog__filter-field {
	
	.selectize-control {
		width: 100%;
		height: 44px;
	}

	.selectize-input {
		position: relative;
		padding: 0;
		font-family: 'PT Sans', sans-serif;
		font-size: 16px;
		color: #55555a;
		padding-left: 18px;
		padding-right: 38px;
		box-shadow: none;
		border: 1px solid #ceced2;
		border-radius: 0px;
		transition: all .3s;
		border-radius: 10px;
	}

	.selectize-control.single .selectize-input, .selectize-control.single .selectize-input input {
		line-height: 42px;
		font-weight: 500;
	}

	.selectize-control.single .selectize-input:after {
		background-image: url("../img/arrow.svg");
		border-right-color: transparent;
		border-width: 0;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		width: 19px;
		height: 14px;
		pointer-events: none;
		top: 18px;
		transform: rotate(180deg);
		right: 13px;
		transition: all .3s;
	}

	.selectize-control.single .selectize-input.dropdown-active:after {
	  background-image: url("../img/arrow-b.svg");
	  transition: all .3s;
	  top: 19px;
	}

	.selectize-control.single .selectize-input.input-active, .selectize-control.single .selectize-input.input-active input {
		border: 1px solid #00b3cf;
		transition: all .3s;
		height: 44px;
	}

	.selectize-dropdown {
		margin: 0;
		border-radius: 10px;
	}

	.selectize-dropdown .option, .selectize-dropdown [data-disabled], .selectize-dropdown [data-disabled] [data-selectable].option {
		color: #55555a;
		opacity: 1;
	}

	.selectize-dropdown .option {
		font-family: 'PT Sans', sans-serif;
		font-size: 16px;
		padding-bottom: 14px;
		padding-left: 20px;
		padding-right: 20px;
		cursor: pointer;
		transition: all .3s;
	}

	.selectize-dropdown .option:hover {
		color: #009db6;
		background-color: transparent;
	}

	.selectize-dropdown .option.selected.active {
		background-color: transparent;
	}

	.selectize-dropdown-content {
		padding-top: 13px;
		padding-bottom: 10px;
		height: auto;
		overflow: auto;
		min-height: 0;
	}
}

.catalog__filter-select {
	min-width: 202px;
	max-width: 202px;
	width: 100%;
}

.catalog__filter-title-rub {
	text-transform: none;
}

.catalog__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1px;
}

.catalog__item-img {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 812px;
	width: 100%;
	height: 808px;
	background-color: #efeff4;

	img {
		max-width: 387px;
	}
}

.catalog__item-content {
	max-width: 693px;
	width: 100%;
}

.catalog__goods-text {
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	font-weight: 300;
}

.catalog__item-title {
	position: relative;
	font-size: 39px;
	line-height: 45px;
	color: #000000;
	font-weight: 300;
	padding-bottom: 20px;

	span {
		display: block;
		font-weight: 900;
	}

	&::before {
		content: "";
		position: absolute;
		left: -115px;
		width: 76px;
		height: 1px;
		top: 45px;
		background-color: #000000;
	}

	&::after {
		content: "";
		position: absolute;
		left: -137px;
		width: 22px;
		height: 1px;
		top: 45px;
		background-color: #fff;
	}
}

.catalog__mods {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	padding-bottom: 28px;
}

.catalog__mod {
	font-family: 'Ubuntu', sans-serif;
	display: block;
	min-width: 79px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 50px;
	background-color: #afdeed;
	line-height: 40px;
	text-align: center;
	margin-right: 10px;
	font-size: 14px;
	color: #000;
	margin-bottom: 10px;
	font-weight: 300;
}

.catalog__item-goods-price {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 49px;
}

.catalog__item-price {
	font-family: 'PT Sans', sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: #000000;

	sup {
		font-size: 45px;
		color: #e74b4b;
		top: 0;
	}
}

.catalog__item-price-note {
	font-family: 'Ubuntu', sans-serif;
	display: block;
	font-size: 14px;
	line-height: 16px;
	color: #e74b4b;
	font-weight: 300;
}

.catalog__item-mod-btn {
	display: inline-block;
	background-color: transparent;
	font-size: 14px;
	line-height: 22px;
	font-weight: 500;
	color: #000000;
	border-bottom: 2px solid #000;
	transition: all .3s;
	margin-top: 10px;

	&:hover {
		color: #00b3cf;
		border-bottom: 2px solid #00b3cf;
	}
}

.catalog__item-more-btn {
	display: block;
	max-width: 156px;
	width: 100%;
	font-size: 14px;
	font-weight: 500;
	color: #000000;
	text-transform: uppercase;
	text-align: center;
	border: 2px solid #00b3cf;
	line-height: 66px;
	transition: all .3s;
	margin-top: 52px;

	&:hover {
		background-color: #00b3cf;
		color: #fff;
	}
}

.benefits-inner {
	padding-left: 300px;
	overflow: hidden;
	padding-bottom: 113px;



	.benefits__title {
		font-size: 32px;
		font-weight: 500;
	}


	.benefits__item p {
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		line-height: 24px;
		font-weight: 300;
	}

	.benefits__item {
		max-width: 183px;
	}
}

.items-list-wrap--min-spacing {
	padding-bottom: 65px;
}

.card {
	padding-bottom: 110px;
}

.card__main-info {
	position: relative;
	padding-bottom: 45px;

	&::before {
		content: "";
		position: absolute;
		width: 115px;
		bottom: -1px;
		left: -115px;
		height: 1px;
		background-color: #000;
	}
}

.catalog__flter-btn-mobile {
	position: relative;
	text-align: center;
	display: none;
	max-width: 136px;
	width: 100%;
	font-size: 15px;
	font-weight: 300;
	color: #000;
	border: 2px solid #000;
	line-height: 42px;
	padding-left: 25px;
	transition: all .3s;
	background-color: transparent;

	&:hover {
		border: 2px solid #00b3cf;
	}

	&::before {
		content: "";
		position: absolute;
		top: 9px;
		left: 21px;
		background-image: url("../img/arrow_filter.svg");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		width: 23px;
		height: 21px;
		transform: rotate(180deg);
		transition: all .3s;
	}

	&.active::before {
		transform: rotate(0deg);
	}
}

.card__main-wrap {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.card__img-list {
	//max-width: 811px;
	//width: 100%;
}
.card-slider-wrap {
	max-width: 811px;
	width: 100%;
}
.card-slider {
	display: none;
}
.card-slider.active {
	display: block;
}
.catalog__item-info {
	display: none;
	&.active {
		display: block;
	}
}



.card__img {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 811px;
	height: 810px;
	width: 100%;
	background-color: #efeff4;
	margin-bottom: 1px;

	img {
		max-width: 384px;
	}
}

.card__content {
	max-width: 694px;
	width: 100%;
}

.card__table-title {
	display: block;
	font-size: 24px;
	line-height: 30px;
	color: #000000;
	font-weight: 300;
	padding-bottom: 18px;
	padding-top: 5px;
}

.catalog__table-content {
	width: 100%;
}

.card .catalog__mods {
	padding-bottom: 10px;
}

.catalog__table {
	width: 100%;

	tr {
		cursor: pointer;

		&:nth-child(2) {
			border-top: 1px solid transparent;
		}

		td {
			padding-right: 10px;

			&:first-child {
				min-width: 140px;
				padding-right: 10px;
			}

			&:nth-child(2) {
				min-width: 100px;
			}

			&:last-child {
				text-align: right;
				padding-right: 13px;
			}
		}
	}
}

.catalog__table-title {

	td {
		position: relative;
		font-family: 'Ubuntu', sans-serif;
		font-size: 14px;
		line-height: 16px;
		color: #808694;
		font-weight: 300;
		vertical-align: top;
		width: 90px;
		padding-bottom: 14px;
		padding-right: 0 !important;
	} 
}

.catalog__table-row {
	transition: all .3s;


	&:hover {
		background-color: #efeff4;

		td:first-child::before {
			opacity: 1;
		}
	}
	&.active {
		cursor: default;
		background-color: #efeff4;

		td:first-child::before {
			opacity: 1;
		}
	}

	td {
		position: relative;
		font-family: 'PT Sans', sans-serif;
		font-size: 14px;
		color: #000000;
		padding-top: 11px;
		padding-bottom: 11px;
		border-bottom: 1px solid #efeff4;

		&:first-child::before {
			content: "";
			position: absolute;
			width: 117px;
			height: 100%;
			background-color: #efeff4;
			left: -117px;
			top: 0;
			opacity: 0;
			transition: all .3s;
			pointer-events: none;
		}

	}
}

.card .catalog__item-goods-price {
	padding-top: 59px;
}

.card .catalog__item-more-btn {
	margin-top: 20px;
	margin-bottom: 59px;
}

.card__specifications {
	border-top: 1px solid #000;
	padding-top: 50px;
	padding-bottom: 23px;
	display: none;
	&.active {
		display: block;
	}
}

.card__specifications-title {
	display: block;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	font-weight: 500;
	padding-bottom: 30px;
}

.card__specifications-item {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 25px;

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 1px;
		left: 0;
		bottom: 5px;
		background-image: linear-gradient(to right, black 22%, rgba(255,255,255,0) 0%);
		background-position: bottom;
		background-size: 6px 1px;
		background-repeat: repeat-x;
		z-index: 1;
		pointer-events: none;

	}
}

.card__specifications-text {
	position: relative;
	font-size: 16px;
	color: #000000;
	font-weight: 300;
	z-index: 2;
	background-color: #fff;
	padding-right: 10px;

}

.card__documents {
	position: relative;
	padding-top: 50px;
	border-top: 1px solid #000;
	&::before {
		content: "";
		position: absolute;
		width: 115px;
		top: -1px;
		left: -115px;
		height: 1px;
		background-color: #000;
	}
}

.card .document-list__item span {
	max-width: 100px;
	width: 100%;
}

.document-list__item svg {
	min-width: 60px;
}

.breadcrumbs__item:last-child:hover {
	color: #000;
}

.rub {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		width: 10px;
		height: 4px;
		top: 20px;
		left: 0;
		background-color: #000;
	}

	&::after {
		content: "";
		position: absolute;
		width: 10px;
		height: 3px;
		top: 26px;
		left: 0;
		background-color: #000;
	}
}

.rub-small {
	display: inline-block;
	position: relative;
	height: 30px;

	&::before {
		content: "";
		position: absolute;
		width: 5px;
		height: 2px;
		top: 14px;
		left: 0;
		background-color: #000;
	}

	&::after {
		content: "";
		position: absolute;
		width: 7px;
		height: 2px;
		top: 18px;
		left: 0;
		background-color: #000;
	}
}

.rub-table {
	position: relative;
	height: 20px;
	display: inline-block;
	&::before {
		content: "";
		position: absolute;
		width: 3px;
		height: 1px;
		top: 9px;
		left: 0;
		background-color: #000;
	}

	&::after {
		content: "";
		position: absolute;
		width: 5px;
		height: 1px;
		top: 11px;
		left: 0;
		background-color: #000;
	}
}

.card__specifications-list {
	display: flex;
	flex-direction: column;
}

.card__specifications-text-wrap {
	width: 50%;

	&:last-child {
		text-align: right;

		span {
			padding-right: 0;
		}
	}
}

.mobile-ruble {
	display: none;
}

@import "media-desktop"; 
@import "media-mobile"; 